﻿.main-wpz {
    float: left;
    overflow:hidden;
    width: 734px;
    margin: 0 10px 0 10px;
}
.main-wpz .middle-wpz {
    width: 548px;
    float: left;
    margin-right: 10px;
    overflow:hidden
}
.main-wpz .right-wpz {
    float: left; 
    width: 176px;
    overflow:hidden;
}
.main-wpz .middle-wpz .page-title {
    margin: 0px 0px 0px 0px;
    width: 100%;
}