﻿

.product
{
    width: 528px;
    height: auto;
    background: url(images/details_box_center.gif) repeat-y;
    float: left;
    padding: 10px;
    margin: 0px;
    border: 1px #DFD1D1 dotted;
}



.product_details
{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    width: 240px;
    font-size: 14px;
}


.product_details .articleno
{
    font-style: italic;
}

.product_details .price
{
    padding-top: 10px;
    font-weight: bold;
    font-size: 25px;
}

.product .product_details a.delivery_help
{
    background: url("/_layouts/images/posten/cart/common/spritemap_common.png") no-repeat scroll -273px -64px transparent;
    display: inline-block;
    height: 17px;
    vertical-align: top;
    width: 17px;
    cursor: pointer;
}

.product_details .incvat, .product_details .price
{
    text-align: right;
}

.product_details .buy
{
    padding-top: 10px;
    text-align: right;
}

#deliveryhelp-content
{
    z-index: 300;
    display: none;
    position: absolute;
    width: 300px;
}

.helpcontent
{
    border: 1px solid #DBD4C5;
    border-radius: 6px 6px 6px 6px;
    margin: 5px 0;
    padding: 10px 14px;
    background: white;
    min-height: 35px;
}

.arrowtooltip
{
    background: url("/_layouts/images/Posten/Cart/arrow.jpg") no-repeat;
    width: 10px;
    height: 18px;
    float: left;
    margin-top: 25px;
    margin-left: -8px;
}




.container
{
    width: 500px;
    margin: 10px auto;
}
ul.tabs
{
    margin-top: 15px;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #DFD1D1;
    border-left: 1px solid #DFD1D1;
    width: 100%;
}
ul.tabs li
{
    float: left;
    margin: 0;
    padding: 0;
    height: 31px;
    line-height: 31px;
    border: 1px solid #DFD1D1;
    border-left: none;
    margin-bottom: -1px;
    background: #e0e0e0;
    overflow: hidden;
    position: relative;
}
ul.tabs li a
{
    text-decoration: none;
    color: #000;
    display: block;
    font-size: 14px;
    padding: 0 20px;
    border: 1px solid #fff;
    outline: none;
}
ul.tabs li a:hover
{
    background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover
{
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab_container
{
    border: 1px solid #DFD1D1;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.tab_content
{
    padding: 20px;
    font-size: 14px;
}
.tab_content h2
{
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    font-size: 1.8em;
}
.tab_content h3 a
{
    color: #254588;
}
.tab_content img
{
    float: left;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    padding: 5px;
}

.product_img
{
    width: 220px;
    float: left;
}

.product_img
{
    width: 230px;
    float: left;
}

.thumbs
{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px #DFD1D1 solid;
    text-align: center;
}


.thumbs a img
{
    width: 65px;
}


.ad-gallery
{
    width: 230px;
}
.ad-gallery, .ad-gallery *
{
    margin: 0;
    padding: 0;
}
.ad-gallery .ad-image-wrapper
{
    width: 100%;
    height: 180px;
    margin-bottom: 5px;
    position: relative;
    /*overflow: hidden;*/
}
.ad-gallery .ad-image-wrapper .ad-loader
{
    position: absolute;
    z-index: 10;
    top: 48%;
    left: 48%;
    border: 1px solid #CCC;
}
.ad-gallery .ad-image-wrapper .ad-next
{
    position: absolute;
    right: 0;
    top: 0;
    /*width: 25%;*/
    width: 0;
    height: 100%;
    cursor: pointer;
    display: block;
    z-index: 100;
}
.ad-gallery .ad-image-wrapper .ad-prev
{
    position: absolute;
    left: 0;
    top: 0;
    /*width: 25%;*/
    width: 0;
    height: 100%;
    cursor: pointer;
    display: block;
    z-index: 100;
}
.ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next
{
    /* Or else IE will hide it */
    background: url(non-existing.jpg)\9;
}
.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image
{
    background: url(/_layouts/images/Posten/eShop/productdetails/ad_prev.png);
    width: 30px;
    height: 30px;
    display: none;
    position: absolute;
    top: 47%;
    left: 0;
    z-index: 101;
}
.ad-gallery .ad-image-wrapper .ad-next .ad-next-image
{
    background: url(/_layouts/images/Posten/eShop/productdetails/ad_next.png);
    width: 30px;
    height: 30px;
    right: 0;
    left: auto;
}
.ad-gallery .ad-image-wrapper .ad-image
{
    position: absolute;
    /*overflow: hidden;*/
    top: 0;
    left: 0;
    z-index: 9;
}
.ad-gallery .ad-image-wrapper .ad-image a img
{
    border: 0;
}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 7px;
    text-align: left;
    width: 100%;
    z-index: 2;
    background: url(opa75.png);
    color: #000;
}
* html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description
{
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src= 'opa75.png' );
}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title
{
    display: block;
}
.ad-gallery .ad-controls
{
    height: 20px;
}
.ad-gallery .ad-info
{
    float: left;
}
.ad-gallery .ad-slideshow-controls
{
    float: right;
}
.ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop
{
    padding-left: 5px;
    cursor: pointer;
}
.ad-gallery .ad-slideshow-controls .ad-slideshow-countdown
{
    padding-left: 5px;
    font-size: 0.9em;
}
.ad-gallery .ad-slideshow-running .ad-slideshow-start
{
    cursor: default;
    font-style: italic;
}
.ad-gallery .ad-nav
{
    width: 200px;
    position: relative;
    margin-left:20px;
    margin-bottom:10px;
}
.ad-gallery .ad-forward, .ad-gallery .ad-back
{
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
}
/* IE 6 doesn't like height: 100% */
* html .ad-gallery .ad-forward, .ad-gallery .ad-back
{
    height: 100px;
}
.ad-gallery .ad-back
{
    cursor: pointer;
    left: -20px;
    width: 13px;
    display: block;
    background: url(/_layouts/images/Posten/eShop/productdetails/ad_scroll_back.png) 0px 22px no-repeat;
}
.ad-gallery .ad-forward
{
    cursor: pointer;
    display: block;
    right: -20px;
    width: 13px;
    background: url(/_layouts/images/Posten/eShop/productdetails/ad_scroll_forward.png) 0px 22px no-repeat;
}
.ad-gallery .ad-nav .ad-thumbs
{
    overflow: hidden;
    width: 100%;
    
}
.ad-gallery .ad-thumbs .ad-thumb-list
{
    float: left;
    width:260px !important;
    list-style: none;
}


.ad-gallery .ad-thumbs li
{
    float: left;
    padding-right: 5px;
}
.ad-gallery .ad-thumbs li a
{
    display: block;
}
.ad-gallery .ad-thumbs li a img
{
    border: 3px solid #CCC;
    display: block;
    width: 70px;
}
.ad-gallery .ad-thumbs li a.ad-active img
{
    border: 3px solid #616161;
}
/* Can't do display none, since Opera won't load the images then */
.ad-preloads
{
    position: absolute;
    left: -9000px;
    top: -9000px;
}


button.zoombutton
{
    z-index:300;
}


.producttitle
{
	color: #003382;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 8px;
}


