/* --------------------------------------------------------------------------------
* Buttons
* --------------------------------------------------------------------------------
*/

a.button, a.button2
{
    background-color: #041d4b;
    padding: 10px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: inline;
}

    a.button:hover, a.button2:hover, a.button.white:hover, a.button.white-large:hover, a.button.green:hover
    {
        color: white;
        border-color: #5b92e6;
        background-color: #5b92e6;
    }

.compareServiceRight a.button, .compareServiceRight a.button2,
.serviceButton a.button, .serviceButton a.button2
{
    display: block;
}

table.compare td.continueCell .button2, table.compare td.continueCell .button
{
    float: right;
}

/*
 * White buttons
 */
a.button.white-large, a.button.white
{
    color: #676767;
    border: 1px solid #b3b3b3;
    background-color: white;
}

/* Green button */
a.button.green
{
    background-color: #7ba242;
}

/*
 * Dropdown button
 */
a.button.dropdown
{
    color: #031e50;
    padding: 5px 15px;
    border: 1px solid darkgray;
    background: #f7fbff url('../images/sprites/edge_sprite_arrow.png') right -31px no-repeat;
}

    a.button.dropdown:hover
    {
        background: white url('../images/sprites/edge_sprite_arrow.png') right -31px no-repeat;
    }

/* Step buttons */
a.button.prev-step,
a.button.next-step
{
    background-position: left -900px;
    height: 30px;
}

    a.button.prev-step span,
    a.button.next-step span
    {
        background-position: right -950px;
        font-size: 10px;
        line-height: 11px;
        padding: 5px 30px 2px 24px;
        color: #FFF;
    }

a.button.prev-step
{
    background-position: left -1000px;
}

    a.button.prev-step span
    {
        background-position: right -1050px;
        padding: 5px 25px 2px 34px;
    }

a.button.prev-step-light,
a.button.next-step-light
{
    background-position: left -1100px;
    height: 30px;
}

    a.button.prev-step-light span,
    a.button.next-step-light span
    {
        background-position: right -1150px;
        font-size: 10px;
        line-height: 11px;
        padding: 5px 30px 2px 24px;
        color: #FFF;
    }

a.button.prev-step-light
{
    background-position: left -1200px;
}

    a.button.prev-step-light span
    {
        background-position: right -1250px;
        padding: 5px 25px 2px 34px;
    }

        a.button.prev-step span strong,
        a.button.next-step span strong,
        a.button.prev-step-light span strong,
        a.button.next-step-light span strong
        {
            display: block;
        }

    a.button.prev-step:hover span,
    a.button.next-step:hover span,
    a.button.prev-step-light:hover span,
    a.button.next-step-light:hover span
    {
        text-decoration: underline;
    }