﻿#skicka
{
    color: #333333;
    font-size:14px;
}

#skicka *
{
    font-family: Calibri,Monospace,Arial,Sans-Serif;
}

#skicka a
{
    font-weight: bold;
}

#skicka div
{
   overflow: auto
}

#skicka .clearfix
{
    clear: both;
}

#skicka ul.confirmation-items {
  margin: 0;
  padding: 0;
}

#skicka ul.confirmation-items li.item {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 20px 20px 0px;
    clear:both;
}

#skicka ul.confirmation-items li.item img.item-image {
  height: 200px;
  width: 200px;
  float: left;
}
* html.inner {
  float: left;
  padding-left: 20px;
  padding-top: 0px;
  width: 438px;
}
#skicka ul.confirmation-items li.item div.inner {
  float: left;
  padding-left: 20px;
  padding-left: 10px;
  margin-top: -20px;
  width: 438px;
}
#skicka ul.confirmation-items li.item div.inner h4 {
  font-size: 18px;
  padding-bottom: 10px;
}
#skicka ul.confirmation-items li.item div.inner ul {
  margin: 0;
  padding: 0 0 18px;
}
#skicka ul.confirmation-items li.item div.inner ul li {
  list-style-type: disc;
  margin-left: 14px;
}
#skicka ul.confirmation-items li.item div.inner ul.box-list {
  margin: 0;
  padding: 0;
  float: left;
}
#skicka ul.confirmation-items li.item div.inner ul.box-list li {
  list-style: none;
  /*new*/
  /*float: left;*/
  font-weight: bold;
  margin: 0;
  padding-right: 10px;
  width: 195px;
}
#skicka ul.confirmation-items li.item div.inner ul.box-list li ul li {
  float: none;
  font-weight: normal;
  padding-right: 0;
  width: auto;
}
#skicka ul.confirmation-items li.last-item
{
    border-bottom: 0;
}
/*
* html #skicka
{
    width: 100%;
    padding: 24px;
}
*/
#skicka h1, #skicka h2, #skicka h3
{
    color: #031e50;
    font-weight: bold;
    margin: 0;
    padding: 0;
    word-spacing: 0px;
}
#skicka h1
{
    font-size: 19px;
    font-weight: normal;
    padding-bottom: 16px;
}
#skicka h2
{
    background-color: #b1d7f7;
    font-size: 14px;
    margin-bottom: 3px;
    padding: 12px;
}
#skicka h3
{
    background-color: #EEEAE1;
    font-size: 14px;
    padding: 12px;
}
#skicka h4, #skicka .h4title
{
    margin-top:16px;
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 5px;
}
#skicka p
{
    padding-bottom: 5px;
}
#skicka .inputError
{
    border: #d44645 2px solid;
}
#skicka .ajaxLoading
{
    width: 100%;
    background: url(/_LAYOUTS/Posten.SkickaDirekt2/Images/Preloader.gif) no-repeat 50% bottom;
    height: 50px;
}
#skicka .checkboxRow
{
    /*width:688px\9;*/
    width:712px;
    height:50px;
    /*margin-left:12px;*/
    margin-top:0px;
    margin-top:0px\9;
}
#skicka .checkboxCell
{
    width:176px;
    float:left;
    /*height:30px;*/
    margin-left:2px;
    /*margin-top:15px;*/
}
#skicka .msgVisible
{
    margin:20px 0px 10px 20px;
    border:2px solid #d44645;
    padding:4px;
    display:block;
}
#skicka .msgHidden
{
    display:none;
}
#skicka .infoBoxError
{
    background-color: #feeeee;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #cd0104;
    border-top: #ce0004 5px solid;
    font-weight: bold;
    padding: 5px 15px 10px 15px;
}
#skicka .mailConfirmText
{
    margin-left:50px;
}
#skicka #mailConfirmForm .textBox
{
    width:140px;
}
#skicka #mailConfirmForm .zipTextBox
{
    width:80px;
}
#skicka .mailConfirmWrapper
{
    background: transparent url('/_LAYOUTS/Posten.SkickaDirekt2/Images/iconSuccess.png') no-repeat;
    background-position:center;
    background-position:left;
    background-color:#eef8e0;
    height:60px;
    padding:10px 10px 20px 20px;
    clear:left;
    margin-bottom:6px;
}
#skicka ul.confirmation-items li.item div.inner ul li.show
{
    display:block;
}
#skicka ul.confirmation-items li.item div.inner ul li.hide
{
    display:none;
}
#skicka .bottomBorder
{
    border-bottom: 1px solid #e5e5e5;
    margin-top:10px;
    margin-top:0px\9;
}
#skicka .blockWhiteWrapper
{
    margin-left:6px;
}
#skicka .orderLabelFormVisible
{
    display:block;
}

#skicka .orderLabelFormHide
{
    display:none;
}
#OrderLabelCbxGroup
{
    /*margin-bottom:8px;*/
    padding: 20px 20px 0px 20px;
}
#OrderLabelCbxGroup div {
    overflow: hidden;
}
.PrintShippingDocument {
  background: url('/_layouts/images/posten/common/presentation/spritemap_localization_se.png') repeat-x 0 -124px;
  border: 0;
  margin: 0;
  padding: 1px 11px 1px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  line-height: 21px;
}

.PrintShippingDocument:hover {
  background: #194B96;
}