﻿a.userDetailsClosed, 
a.userDetailsClosed:active, 
a.userDetailsClosed:visited, 
a.userDetailsClosed:link {
    position: relative;
    margin-right: 15px;
    font-weight: bold;
    color: #333;
}

a.userDetailsOpen, 
a.userDetailsOpen:active, 
a.userDetailsOpen:visited, 
a.userDetailsOpen:link {
    position: relative;
    margin-right: 15px;
    font-weight: bold;
    color: #333;
}

a.userDetailsClosed::after {
    content: "\25BC";
    position: absolute;
    right: -15px;
    color: #333;
}

a.userDetailsOpen::after {
    content: "\25B2";
    position: absolute;
    right: -15px;
    color: #333;
}

#ShoppingCartDisplay {
    position: relative;
}

/*START generic maximize and minimize*/
.control .maximize, 
.control .maximizeCollapse {
	display: none;
}


.shoppingCart {
    margin-top: 15px;
}

.shoppingCartIcon {
    position: absolute;
    top: -15px;
    right: 10px;
    height: 30px;
    width: 30px;
    border: 6px solid #ffffff;
    line-height: 24px;
    padding: 0;
    text-align: center;
    border-radius: 23px;
    -ms-border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    -khtml-border-radius: 23px;
    -o-border-radius: 23px;
    overflow: hidden;
}

.shoppingCartIconContent {
    height: 30px;
    width: 30px;
    line-height: 24px;
    text-align: center;
    border-radius: 23px;
    -ms-border-radius: 23px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    -khtml-border-radius: 23px;
    -o-border-radius: 23px;
}

.shoppingCartIconContent span {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
    display: block;
    background: transparent url('/_Layouts/Images/Posten.SkickaDirekt2/basket.png') center center no-repeat;
}

a.shoppingCartButton {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    color: #333333 !important;
    border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    border: 1px solid #e1e1e1;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
    align-items: flex-start;
    display: inline-block;
}

a.shoppingCartButton span {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    display: block;
}

a.shoppingCartButton span.editButton {
    background: transparent url('/_Layouts/Images/Posten.SkickaDirekt2/basket_edit.png') center center no-repeat;
}

a.shoppingCartButton span.deleteButton {
    background: transparent url('/_Layouts/Images/Posten.SkickaDirekt2/basket_delete.png') center center no-repeat;
}

.leftCart {
    width: 160px;
    float: left;
    clear: none;
    min-height: 1px;
    font-weight: bold;
}

.leftItem {
    width: 180px;
    float: left;
    clear: none;
    min-height: 1px;
}

.leftPrice {
    width: 100px;
    float: left;
    clear: none;
    min-height: 1px;
}

.formLabel {
    padding: 4px 0 0;
}

.rightCart {
    float: left;
    clear: none;
    min-height: 1px;
}

.noBorders {
    border: 1px solid transparent;
}

.sideBorders {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}

.progressBar {
    background: #f5f5f5;
    color: #666;
    font-style: italic;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}

.arrow {
    display: inline-block;
    padding: 10px 10px 10px 30px;
    position: relative;
    min-width: 100px;
}

.arrow:first-child {
    padding-left: 10px;
}

.arrow::before {
    content: " ";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 25px solid #ccc;
    top: 50%;
    margin-top: -30px;
    margin-left: 2px;
    left: 100%;
    z-index: 1;
}

.arrow::after {
    content: " ";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 25px solid #f5f5f5;
    top: 50%;
    margin-top: -30px;
    left: 100%;
    z-index: 2;
}

.current {
    background: #ccc;
    color: #333;
}

.current::after {
    border-left: 25px solid #ccc;
}

.smallButton {
    padding: 8px 16px;
    font-weight: bold;
}

table {
    border-spacing: 0;
}

table td {
    vertical-align: top;
}

.resultShowMoreClosed {
    position: relative;
    margin-right: 15px;
}

.resultShowMoreClosed::after {
    content: "\25BC";
    position: absolute;
    right: -15px;
    color: #333;
}

.resultShowMoreOpen {
    position: relative;
    margin-right: 15px;
}

.resultShowMoreOpen::after {
    content: "\25B2";
    position: absolute;
    right: -15px;
    color: #333;
}

/* Old cart.css */

.accept_error_message
{
    text-align:left;
    color:Red;
    margin-top:10px;
    font-weight:bold;
}

.addressSection
{
    width:100%;
    padding-top:20px;
}

.addresses .addressHead
{
    
    padding: 5px 0;
    width: 240px;
}

.addresses .addressItem {
    border: 1px solid #DBD4C5;
}

.addresses .addressname {
    float: left;
    margin-left: 5px;
    width: 120px;
}

.addresses .headselectaddress {
    float: left;
    text-align: right;
    width: 100px;
}

.addresses .selectaddress {
    margin-top:10px;
}

.addresses .addressend {
    clear:both;
}


/*Check Out Page Layout*/


.middle-zone
{
    font-size: 14px;
}
input.error, span.checkboxerror
{
    border: 1px solid red;
}
label.error, span.error
{
    color: red;
    font-weight: bold;
}
label.valid
{
    color: black;
    display: block !important;
}
div.errorsummary, div.secondcolumnerrorsummary
{
    color: white;
    background-color: Red;
    padding: 10px;
    display:none;
    margin-bottom:10px;
}
.checkOut-title
{
    width: 100%;
    float: left;
    margin-left: 10px;
    color: #194B96;
    font-size: 25px;
}
.checkOut-subtitle
{
    float: left;
    width: 100%;
    margin: 15px 0;
}
.checkOut-subtitle .continue-shop
{
    background: url("/_layouts/images/posten/cart/common/spritemap_common.png") no-repeat scroll -463px -223px transparent;
    float: left;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    padding-left: 10px;
    cursor: pointer;
}
.checkOut-subtitle .help
{
    float: right;
    margin-right: 10px;
    font-size: 14px;
    color: #333333;
}

.middle-zone #LeftColumnZone
{
    float: left;
    width: 300px;
    margin-left: 10px;
}
#LeftColumnZone .email-sec, #LeftColumnZone .password, #LeftColumnZone .civic, #LeftColumnZone .custdetails, #LeftColumnZone .pword
{
    float: left;
    width: 100%;
}
#LeftColumnZone .email-sec .email-lbl, #LeftColumnZone .password .password-lbl, #LeftColumnZone .civic .civic-lbl, #LeftColumnZone .custdetails .custdetails-lbls, #LeftColumnZone .newadd .newadd-lbls, #LeftColumnZone .pword .pword-lbl
{
    float: left;
    width: 101px;
    margin-top: 10px;
}
#LeftColumnZone .custdetails .disclaimer, #LeftColumnZone .save-info-lbl,#LeftColumnZone  .disclaimer
{
    float: left;
    width: 100%;
    font-size: 12px;
}

#LeftColumnZone .emailinfo
{
    margin-top: 5px;
    margin-left:10px;
    text-align: left;
}

#LeftColumnZone .email-sec .email-tbox, #LeftColumnZone .password .password-tbox, #LeftColumnZone .civic .civic-tbox, #LeftColumnZone .custdetails .custdetails-tboxes, #LeftColumnZone .newadd .newadd-tboxes, #LeftColumnZone .pword .pword-tbox
{
    float: left;
    width: 170px;
    margin-top: 10px;
}
#LeftColumnZone .rbutton
{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-left: -7px;
}
#LeftColumnZone .civic .instruction
{
    float: left;
    width: 100%;
    font-size: 12px;
}
#LeftColumnZone .delivery-n-subscribe
{
    width: 100%;
}
#LeftColumnZone .civic .btnretrieve, .CloseButton
{
    float: right;
    width: 115px;
    text-align: right;
    margin-top: 10px;
    margin-left:5px;
    cursor: pointer;
}
#LeftColumnZone .password .btnlogin
{
    float: right;
    width: 80px;
    text-align: right;
    margin-top: 10px;
    cursor: pointer;
}
#LeftColumnZone .password .btnlogin span, .CloseButton span
{
    background: url("/_layouts/images/posten/cart/common/posten-sprite.png") no-repeat scroll right -103px transparent;
    display: block;
    height: 24px;
    margin: 0;
    padding: 0 14px 0 0;
}
#LeftColumnZone .password .btnlogin a, .CloseButton a
{
    background: url("/_layouts/images/posten/cart/common/posten-sprite.png") no-repeat scroll left -78px transparent;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: normal;
    height: 24px;
    padding: 2px 0 0 14px;
    text-align:center;
}
#LeftColumnZone .custdetails .custdetails-lbls div, #MiddleColumnZone .newadd .newadd-lbls div
{
    height: 25px;
    margin-bottom: 10px;
    vertical-align: middle;
    margin-top: 2px;
    overflow: auto; 
}


#MiddleColumnZone .newadd {
    display: none;
    margin-top: 10px;
    width: 100%;
}

#MiddleColumnZone .newadd .newadd-tboxes input {
    width: 170px;
}

#MiddleColumnZone .newadd .newadd-tboxes div {
    height: 25px;
    margin-bottom: 10px;
    width: 177px;
}
#LeftColumnZone .custdetails .custdetails-tboxes div, #LeftColumnZone .newadd .newadd-tboxes div
{
    height: 25px;
    margin-bottom: 10px;
    width: 177px;
}
#LeftColumnZone .custdetails .custdetails-tboxes input, #LeftColumnZone .email-sec .email-tbox input, #LeftColumnZone .civic .civic-tbox input, #LeftColumnZone .password .password-tbox input, #LeftColumnZone .pword .pword-tbox input, #LeftColumnZone .newadd .newadd-tboxes input
{
    width: 170px;
}
#LeftColumnZone .custdetails .custdetails-tboxes select, #LeftColumnZone .newadd .newadd-tboxes select
{
    width: 175px;
    font-size: 14px !important;
}

#MiddleColumnZone .newadd .newadd-tboxes select
{
    width: 175px;
    font-size: 14px !important;
}

#MiddleColumnZone .newadd .newadd-lbls{
    float: left;
    margin-top: 10px;
    width: 101px;
}

#MiddleColumnZone .newadd .newadd-tboxes {
    float: left;
    margin-top: 10px;
    width: 170px;
}

#MiddleColumnZone .note
{
    padding:10px 10px 0 0;
    font-size: 12px;
    width: 100%;
    clear:both;
}

#MiddleColumnZone .newadd .disclaimer, #inv-ssn-instruction{
    font-size: 12px;
    width: 100%;
    clear:both;
}

#MiddleColumnZone .invoice .inv-tbox input, #MiddleColumnZone .invoice .mobile .mobile-tbox input
{
    width: 140px;
}
#LeftColumnZone .newadd
{
    display: none;
    width: 100%;
    float: left;
    margin-top: 10px;
}


#LeftColumnZone .newadd-rbutton, #LeftColumnZone .subscribe
{
    width: 100%;
}
#LeftColumnZone .save-details
{
    width: 100%;
    text-align: right;
}

.middle-zone #MiddleColumnZone
{
    float: left;
    width: 300px;
    margin: 0px 10px 0px 10px;
}
.middle-zone #MiddleColumnZone .pay-type-lbl
{
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}
#MiddleColumnZone .delivery
{
    width: 100%;
    height: 20px;
}
#MiddleColumnZone .delivery .delivery-lbl
{
    float: left;
    font-weight: bold;
    margin-right: 5px;
}
#MiddleColumnZone .delivery-img, #LeftColumnZone .delivery-img
{
    background: url("/_layouts/images/posten/cart/common/spritemap_common.png") no-repeat scroll -273px -64px transparent;
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 17px;
    float:right;
}
#MiddleColumnZone .payment-order
{
    border: 1px solid #DBD4C5;
    border-radius: 6px 6px 6px 6px;
    margin: 5px 0 5px 0;
    padding: 10px 14px;
}
#MiddleColumnZone .invoice
{
    width: 100%;
}
#MiddleColumnZone .invoice .instruction
{
    width: 100%;
}
#MiddleColumnZone .invoice .inv-lbl, #MiddleColumnZone .invoice .instruction .instruction-lbl, #MiddleColumnZone .invoice .mobile .mobile-lbl
{
    margin-top: 10px;
    width: 100px;
    float: left;
}
#MiddleColumnZone .invoice .inv-tbox, #MiddleColumnZone .invoice .instruction .intsruction-desc, #MiddleColumnZone .invoice .mobile .mobile-tbox
{
    width: 140px;
    margin-top: 10px;
    float: left;
}
#MiddleColumnZone .invoice .inv-btn
{
    width: 100%;
    text-align: right;
    margin-top: 10px;
    float: right;
}
#MiddleColumnZone .login-label
{
    font-style:italic;
    width: 100%;
    color: #999999;
    margin-left: 5px;
}
#MiddleColumnZone .invoice .mobile
{
    width: 100%;
}

#MiddleColumnZone .invoice #contact_heading
{
    clear: left;
    width: 100%;
    margin-bottom:10px;
}

#MiddleColumnZone .invoice #contact_heading_line
{
    border-bottom: 1px solid;
}
#MiddleColumnZone .invoice .mobile .mobile-desc
{
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    clear:left;
}





.middle-zone #RightColumnZone
{
    float: left;
    width: 300px;
    margin-right: 10px;
}
#RightColumnZone .promo-code
{
    float: left;
    width: 100%;
    font-weight: bold;
    padding: 15px 0;
    background-color: #E2E2E2;
    border-top: 1px solid #DBD4C5;
    display:none;
}
#RightColumnZone .promo-code .promo-lbl
{
    float: left;
    margin: 5px 0 5px 5px;
}
#RightColumnZone .promo-code a
{
    background: url("/_layouts/images/posten/cart/common/spritemap_common.png") no-repeat scroll -273px -64px transparent;
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 5px 0 5px;
    cursor: pointer;
}
#RightColumnZone .promo-code input
{
    float: left;
    margin: 5px 0 5px 5px;
    width: 165px;
}


#RightColumnZone .fees, #RightColumnZone .savings
{
    width: 100%;
    float: left;
    background-color: #EEEEEE;
    border-top: 1px solid #DBD4C5;
    padding: 10px 0;
}

#RightColumnZone .fees .shipping,
#RightColumnZone .fees .InvoiceFee,
#RightColumnZone .summary .tax .tax-lbl
{
    width: 110px;
    float: left;
    margin-left: 13px;
}

#RightColumnZone .savings .savings-lbl, 
#RightColumnZone .summary .total .total-lbl
{
    width: 115px;
    float: left;
    margin-left: 13px;
    font-weight: bold;
}

#RightColumnZone .summary .total .total-payment-lbl
{
    width: 115px;
    float: left;
    margin-left: 13px;
    font-weight: bold;
    font-size: 16px;
}

#RightColumnZone .fees .shipping-amt,
#RightColumnZone .fees .InvoiceFee-amt,#RightColumnZone .summary .total .total-amt
{
    float: right;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
}

#RightColumnZone .summary .total .total-payment
{
    float: right;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
    color: #003382;
    font-size: 16px;
}
#RightColumnZone .savings .savings-amt
{
    float: right;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
    color: #088000;
}
#RightColumnZone .summary .tax .tax-amt
{
    float: right;
    text-align: right;
    margin-right: 5px;
    font-size: 12px;
}
#RightColumnZone .fees .shipping .shipping-lbl
{
    font-weight: bold;
    width: 100%;
    float: left;
}
#RightColumnZone .fees .shipping .shipping-desc
{
    width: 100%;
    float: left;
}
#RightColumnZone .summary
{
    float: left;
    width: 100%;
    padding: 10px 0;
    background-color: #EEEAE1;
    background-position: center center;
    background-repeat: no-repeat;
    border-top: 1px solid #DBD4C5;
    border-bottom: 1px solid #DBD4C5;
}
#RightColumnZone .summary .total, #RightColumnZone .summary .tax
{
    float: left;
    width: 100%;
}
#RightColumnZone .confirmation
{
    float: left;
    width: 95%;
    padding: 10px 0;
    margin-left:10px;
}
#RightColumnZone .confirmation a, #RightColumnZone .confirmation a:link, #RightColumnZone .confirmation a:hover, #RightColumnZone .confirmation a:active, #RightColumnZone .confirmation a:visited
{
    color: #003382;
    cursor: pointer;
    text-decoration: underline;
}

#RightColumnZone .confirmation input
{
    /*margin-left: 13px;*/
}


#RightColumnZone .accept-link
{
    float: left;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
}
#RightColumnZone .accept-link a
{
    vertical-align: middle;
    font-size: 20px;    
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    float:left;
    margin-top: 10px;
}
#RightColumnZone .accept-link .curve
{
    display: inline-block;
    height: 48px;
    position: relative;    
}
#RightColumnZone .accept-link .curve .container
{
    background: url("/_layouts/images/posten/common/presentation/spritemap_localization_se.png") repeat-x scroll 0 -106px transparent;
    line-height: 21px;
    margin: 0;
    padding: 1px 11px 2px;
    height: 45px;
}
#RightColumnZone .accept-link .container:hover
{
    background: none repeat scroll 0 0 #194B96;
}
#RightColumnZone .nextpg-lbl
{
    /*margin: 0 5px;*/
    text-align:center;
    padding-left:6px;
}

.disable_textbox
{
    color:Gray;
    background:none repeat scroll 0 0 #E2E2E2;
}

/*End of Check Out Page Layout*/

/* Shopping Cart WebPart */
/*.edit-cart .cart
{
    float: left;
    color: #333333;
    width: 100%;
    margin: 2px 0 10px 0;
    border-top: 1px solid #DBD4C5;
    border-bottom: 1px solid #DBD4C5;
}*/
.edit-cart .cart .items
{
    /*float: left;
    padding: 5px 0;
    border-top: 1px solid #DBD4C5;*/
    /*width: 100%;*/
}
.edit-cart .cart .labels
{
    /*float: left;*/
    /* background: url("/_layouts/images/posten/common/presentation/spritemap_common_vertical.png") repeat-x scroll 0 0 transparent; */
    /*color: #000000;
    width: 100%;
    padding: 7px 0;*/
    font-weight: bold;
}
.edit-cart .cart .empty-cart-label
{
    float: left;
    text-align: center;
    width: 100%;
}
/*.edit-cart .cart .labels .title
{
    float: left;
    width: 120px;
    font-size: 15px;
    color: #333333;
    margin-left: 5px;
}*/
/*.edit-cart .cart .labels .number, .edit-cart .cart .labels .amount
{
    float: left;
    width: 85px;
    text-align: center;
    font-size: 15px;
    color: #333333;
}*/
/*.edit-cart .cart .items .prod-name
{
    width: 120px;
    float: left;
    margin-left: 5px;
}*/

/*.edit-cart .cart .items .prod-name a:link, .edit-cart .cart .items .prod-name a:hover, .edit-cart .cart .items .prod-name a:active, .edit-cart .cart .items .prod-name a:visited
{
    font-size: 14px;
    color: #333333;
}*/

.edit-cart .cart .items .prod-name a, .edit-cart .cart .items .svc-name a
{
   /*cursor:default;*/
}

.edit-cart .cart .items .prod-name div
{
    font-size: 12px;
    color: #A19377;
    font-style: italic;
    font-weight: bold;
}
.edit-cart .cart .items .prod-quantity
{
    float: left;
    width: 70px;
    text-align: center;
}
.edit-cart .cart .items .prod-quantity input[type=text]
{
    text-align: right;
    width: 30px;
}
.edit-cart .cart .items .prod-total
{
    float: left;
    width: 100px;
    text-align: right;
}
/*.edit-cart .cart .items .svc-name
{
    width: 140px;
    float: left;
    margin-left: 5px;
}*/
/*.edit-cart .cart .items .svc-name a:link, .edit-cart .cart .items .svc-name a:hover, .edit-cart .cart .items .svc-name a:active, .edit-cart .cart .items .svc-name a:visited
{
    font-size: 14px;
    color: #333333;
    width: 100%;
    display:block;
}*/

/*.edit-cart .cart .items .svc-quantity
{
    float: left;
    width: 35px;
    text-align: center;
}*/
/*.edit-cart .cart .items .svc-total
{
    float: left;
    width: 100px;
    text-align: right;
}*/
/*.edit-cart .cart .items .svc-total div, 
.edit-cart .cart .items .prod-total div
{
    width: 80px;
    float: left;
}*/
.edit-cart .cart .items .svc-total a.remove-svc, 
.edit-cart .cart .items .prod-total a.remove-prod
{
    background: url("/_layouts/images/posten/cart/close.png") no-repeat transparent;
    display: inline-block;
    height: 13px;
    vertical-align: top;
    width: 13px;
}

.edit-cart .cart .items a.change
{
    background: none;
    display: inline-block;
    font-size: 12px !important;
}

.details
{
    display:none;
    position:absolute;
    z-index: 10;
    
}
.edit-cart .cart .items .svc-name .details div
{
    font-size: 12px;
    width: 100%;
    color: #A19377;
    font-style: italic;
    font-weight: bold;
}

/* Shopping Cart WebPart */


/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
  the Window's z-index value will be set to 3000 by default (in jqModal.js). You
  can change this value by either;
    a) supplying one via CSS
    b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex: 500}); */

.jqmWindow
{
    display: none;
    position: relative;
    top: -48px;
    left: 182px; /*margin-left: -300px;*/
    width: 0px; /*background-color: #EEE;*/
    /*height: 0px;*/
    float:left;
    color: #333; /*border: 1px solid black;*/
    padding: 12px;
}

.jqmOverlay
{
    background-image: url(/layouts/posten/cart/transparent.gif);
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow
{
    position: absolute;
    top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/* Mini Cart Delegate Control */
.minicart
{
    float: right;
    position: relative;
    top: -25px;
}
#basket
{
    overflow: auto;
    height: 250px;
}
#co_basket
{
    overflow: auto;
    margin: 0 1px;
}

#co_basket .row
{
    border-top: 1px solid #000000;
}

#co_basket .products .item .product, #co_basket .services .item .service
{
    float: left;
    width: 190px;
    font-size: 12px;
}

#co_basket .products .item .quantity, #co_basket .services .item .quantity
{
    float: left;
    width: 40px;
    font-size: 12px;
}

#co_basket .products .item .total, #co_basket .services .item .total
{
    float: right;
    font-size: 12px;
}

.mid
{
    font-family: Calibri Lite,Arial,Sans-Serif;
    font-size: 13px;
}

ul
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

img
{
    border: medium none;
}

a.button *, a.link.theme > .arrow, a.link:hover > .arrow, button.search, .arrow.theme, li.expanded > a .arrow.null-theme, a:hover .arrow.null-theme, .bundleOffer .pageButton span, .dropDown .top .left, .dropDown .top .right, .gradient.theme .arrow, .header.theme, .logo, .mainCampaignModule .paginator span.active, .mainCampaignModule .textBox div.bottomBorder, .search input, .webShop .checkout, #CenterConsoleMenu .dropDown .header .frame.center, #CenterConsoleMenu li.more:hover, #CenterConsoleMenu .divider, #CenterConsoleMenu .more:hover .indent span, #CenterConsoleMenu li.more.active:hover .indent span, .faq .decoration, #GlobalMenu .dropDown .top > *, #GlobalMenu a.home:hover span, #MainMenu li.active span, #MainMenu li.active .header, #MainMenu li:hover .header, #QuickFinder .headline
{
    background-image: url("/_layouts/images/posten/common/presentation/spritemap_localization_se.png");
}

a.link
{
    font-weight: bold;
}

span.arrow
{
    display: inline-block;
    margin-left: 3px;
    position: static;
    vertical-align: baseline;
}


.dropDown
{
    /*right: -7px;*/
    width: 558px;
    font-size: 14px;
}

.dropDown
{
    display: none;
    position: absolute;
    top: 35px;
    z-index: 100;
}

.dropDown > *
{
    overflow: hidden;
}

.dropDown * > *
{
}

.indent
{
    background: url("/_layouts/images/Posten/MiniCart/spritemap_common.png") repeat scroll -135px -48px transparent;
    height: 20px;
    position: absolute;
    left: 345px;
    top: -12px;
    width: 17px;
    z-index: 101;
}

.dropDown .top > *
{
    height: 46px;
}

.dropDown .top
{
    overflow: hidden;
}

.dropDown .top .left
{
    background-position: 0 0;
}

.dropDown .left
{
    left: 0;
    position: absolute;
    top: 0;
}

.dropDown .left, .dropDown .right
{
    width: 12px;
}

.dropDown .center
{
    margin: 0 12px;
}

.header
{
    /* font-size: 16px; */
    /* font-weight: bold; */
    /* height: 40px; */
    /* position: relative; */
}

.header.theme
{
    color: #FFFFFF;
}

.header.theme
{
    /*background: url("/_layouts/images/posten/common/presentation/spritemap_localization_se.png") repeat scroll 0 -106px transparent;*/
    color: #FFFFFF;
}

.header, #MainMenu li.active .header, #MainMenu li:hover .header
{
    /* background-position: 0 -106px; */
    /* background-repeat: repeat-x; */
}

.dropDown .header *
{
    font-size: 18px;
}

.header span
{
    bottom: 7px;
    left: 14px;
    position: absolute;
}

.header .close
{
    background: url("/_layouts/images/Posten/MiniCart/spritemap_common.png") no-repeat scroll -153px -49px transparent;
    cursor: pointer;
    float: right;
    height: 16px;
    margin: 15px 5px;
    width: 17px;
}

.dropDown .top .right
{
    background-position: -13px 0;
}

.dropDown .right
{
    position: absolute;
    right: 0;
    top: 0;
}


.dropDown .middle
{
    position: relative;
}

.dropDown .middle > *
{
    margin-bottom: -750px;
    padding-bottom: 750px;
}

.dropDown .middle .left
{
    background: url("/_layouts/images/posten/common/presentation/spritemap_common_horizontal.png") repeat-y scroll 0 0 transparent;
}



.dropDown .middle > *
{
    margin-bottom: -750px;
    padding-bottom: 750px;
}

.dropDown .middle .center
{
    background: /*url("/_layouts/images/posten/common/presentation/v_divider_dropdown.png") no-repeat scroll center center*/ #FCFBF9;
}

.dropDown .middle > *
{
    margin-bottom: -750px;
    padding-bottom: 750px;
}



.dropDown li
{
    overflow: hidden;
    padding: 0 9px;
}

.dropDown li div.article
{
    width: 121px;
    padding: 7px 0 5px;
}

.dropDown li div.article img
{
    width: 115px;
    height: 84px;
}

.dropDown li.gridHeader > *
{
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0 5px;
}

.dropDown li div
{
    float: left;
}

.dropDown li div.description
{
    width: 190px;
}

.dropDown li div.description > div
{
    float:none;
    font-size:14px;
    
}

.dropDown .description *
{
    font-weight: normal;
    line-height: 1.2em;
}

.dropDown li div.quantity
{
    width: 60px;
}

.dropDown li div.quantity input,
.dropDown li div.quantity span
{
    width: 30px;
}

.dropDown li div.price
{
    padding-right: 10px;
    text-align: right;
    width: 80px;
}

.dropDown .price span:first-child
{
    font-weight: bold;
}


.dropDown .price span
{
    display: block;
}

.dropDown li div.delete
{
    width: 25px;
}

.dropDown .delete a
{
    background: url("/_layouts/images/Posten/MiniCart/spritemap_common.png") repeat scroll -21px -144px transparent;
    display: inline-block;
    height: 17px;
    vertical-align: text-bottom;
    width: 17px;
}

.dropDown li + li
{
    background: url("/_layouts/images/Posten/MiniCart/dividers/horizontal_557.png") no-repeat scroll center top transparent;
    padding-top: 10px;
}

.dropDown .freight, .dropDown .sum
{
    border-top: 1px solid #DBD4C5;
    height: 30px;
    line-height: 28px;
    margin: 0 -5px;
    padding-left: 135px;
    position: relative;
    z-index: 111;
}

.dropDown .freight a
{
    background: url("/_layouts/images/Posten/MiniCart/spritemap_common.png") repeat scroll -39px -144px transparent;
    display: inline-block;
    height: 17px;
    vertical-align: text-bottom;
    width: 17px;
}

.rightAlign
{
    float: right;
    padding-right: 40px;
}

.dropDown .sum
{
    background-color: #EEEAE1;
    font-weight: bold;
    height: 32px;
}

.sum .rightAlign
{
    font-size: 18px;
}

.dropDown .middle .right
{
    background: url("/_layouts/images/posten/common/presentation/spritemap_common_horizontal.png") repeat-y scroll -282px 0 transparent;
}

.dropDown .bottom
{
    position: relative;
}

.dropDown .bottom .left
{
    background-position: -457px -10px;
}

.dropDown .bottom > *
{
    background: url("/_layouts/images/Posten/MiniCart/spritemap_common.png") no-repeat scroll 0 0 transparent;
    height: 68px;
}

.dropDown .bottom .center
{
    background: url("/_layouts/images/posten/common/presentation/spritemap_common_vertical.png") repeat-x scroll 0 -348px transparent;
}

.dropDown .bottom .center div
{
    padding: 20px 30px;
    text-align: right;
}

.bottom a.basketUpdate
{
    color: #333333;
    display: inline-block;
    padding-right: 20px;
}

.bottom a
{
    vertical-align: middle;
}

a.link > .arrow, .arrow.primary.small.right
{
    background-position: -253px -52px;
}

a.link > .arrow, .arrow.small
{
    display: inline-block;
    height: 7px;
    width: 7px;
}

.arrow.primary, a.link > .arrow, .arrow.secondary
{
    background: url("/_layouts/images/Posten/MiniCart/spritemap_common.png") no-repeat scroll 0 0 transparent;
}

a.jqTransformButton
{
    display: inline-block;
    text-decoration: none;
}

a.jqTransformButton span
{
    background: url("/_layouts/images/Posten/MiniCart/jquerytransform/posten-sprite.png") no-repeat scroll right -103px transparent;
    display: block;
    float: left;
    height: 24px;
    margin: 0;
    padding: 0 14px 0 0;
}

a.jqTransformButton span span
{
    background: url("/_layouts/images/Posten/MiniCart/jquerytransform/posten-sprite.png") no-repeat scroll left -78px transparent;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    font-weight: normal;
    height: 24px;
    padding: 2px 0 0 14px;
}

.dropDown .bottom .right
{
    background-position: -470px -10px;
}

/* End of Mini Cart Delegate Control */

/* Pop Up */
#mask, #mask2
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    background: #111;
    opacity: 0.8;
    filter: alpha(opacity = 50);
}


.window
{
    background: #FFF;
    padding: 20px;
    position: fixed;
    z-index: 4000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.window .close
{
    position: absolute;
    top: -12px;
    right: -12px;
    text-decoration: none;
}

#window2 h2
{
    color:#528cde;
}
    
.CloseButton
{
    width:60px;
}

.prod-label, .serv-label
{
    font-weight: bold;
    padding: 5px 0px 0px 5px;
    font-size: 18px;   
}

/* End Pop Up */


/* Start of TooTip css*/
 #deliveryhelp-target-1
{
    cursor:pointer;
}
    
#deliveryhelp-content-1 
{   
    z-index: 300;
    display:none;
    position:absolute;
    width:300px;
      
}
#promo-content
{
    z-index: 300;
    display:none;
    position:absolute;
    width:250px;
}
    
#minicarthelp
{
    z-index:30000;
    position:fixed;
    display:none;
}
    
.helpcontent
{
    border: 1px solid #DBD4C5;
    border-radius: 6px 6px 6px 6px;
    margin: 5px 0;
    padding: 10px 14px;
    background:white;
}
    
.arrowtooltip
{
    background: url("/_layouts/images/Posten/Cart/arrow.jpg") no-repeat;
    width:10px;
    height:18px;
    float:left;
    margin-top:66px;
    margin-left:-8px;
}
    
/* End of ToolTip Css */
    
div.minicartnotification
{
    display:none;
    background: url("/_layouts/Images/Posten/Cart/Common/spritemap_localization_se.png") repeat scroll -3px -185px transparent;
    width: 213px;
    height: 58px;
    color:White;
    top: 17px;
    left: 170px;
    position: absolute;
    z-index:300;
}
    
div.minicartnotification .header
{
    height:auto;
    float:left;
    margin: 10px 0 0 10px;
}
    
/* 2nd div of minicart notification */
div.minicartnotification > div + div
{
    float:left; 
    margin: 3px 0 0 10px
}
    
.save-section
{
    display:none;    
}
    
/* Hide all masterpage items */
    
#GlobalMenu, #Search, #GlobalCart, #GlobalUserInfo, #Footer
{
    display:none;    
}
    
    
.module > .header
{
    font-size:16px !important;
}

/* styles for the scrollable service */
.scrollable { width: 100%; clear: both; }
.scrollable .viewport { width: 100%; overflow: hidden; position: relative; }
.scrollable .overview { list-style: none; position: absolute; left: 0; top: 0; }
.scrollable .thumb .end,
.scrollable .thumb { background-color: #003D5D; }
.scrollable .scrollbar { position: relative; float: right; width: 15px; background: url("/_layouts/images/Posten/Cart/bg-scrollbar-track-y.png") no-repeat scroll 0 0 transparent ; margin-left: -15px; z-index: 5;}
.scrollable .track { background-color: #D8EEFD; height: 100%; width:13px; position: relative; padding: 0 1px; background: url("/_layouts/images/Posten/Cart/bg-scrollbar-trackend-y.png") no-repeat scroll 0 100% transparent }
.scrollable .thumb { height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; background: url("/_layouts/images/Posten/Cart/bg-scrollbar-thumb-y.png") no-repeat scroll 50% 100% transparent}
.scrollable .thumb .end { overflow: hidden; height: 5px; width: 13px; background: url("/_layouts/images/Posten/Cart/bg-scrollbar-thumb-y.png") no-repeat scroll 50% 0 transparent }
.scrollable .disable{ display: none; }
