﻿.confirmation-graybox-head
{
    padding: 10px 15px 10px 15px;
    position: relative;
    background-image: url("/_layouts/images/Posten/Confirmation/u18.png");
    background-repeat:no-repeat;
    width:699px;
    height:89px;
}

.confirmation-graybox-head-inner
{
    padding: 10px 15px 10px 15px;
    position: relative;
    background-image: url("/_layouts/images/Posten/Confirmation/u25.png");
    background-repeat:no-repeat;
    width:699px;
    height:39px
}
