#s4-bodyContainer
{
    color: #333333;
}

.webshopConfirmation {
	font-size: 14px;
	
}

.webshopConfirmation .title { display: block; }
.webshopConfirmation .articleID { display: block; }


.webshopConfirmation table {
	border-collapse:collapse;
}

.webshopConfirmation th { text-align: left; }

.webshopConfirmation th {
	text-align: left;
	background-color: #eeeae1;
	padding: 5px 0px;
}
.webshopConfirmation td {
	padding: 10px;
}
.webshopConfirmation table.divider tr,
.webshopConfirmation table tr.divider {
	background: url('/_layouts/images/posten/cart/common/dividers/horizontal_557.png') center top no-repeat;
}
.webshopConfirmation table:first-child {
	background: none;
}

.webshopConfirmation table input[type='text'] { 
	width: 20px;
}

.webshopConfirmation input[type='radio'] {
	margin-left: 0px;
}

.webshopConfirmation .article {
	width: 482px; padding-left: 10px;
}
.webshopConfirmation .quantity {
	width: 60px;
	padding: 0px;
	text-align: center;
}

.webshopConfirmation .price {
	width: 75px;
	text-align: right;
	padding-right: 0px;
}

.body.summary {
	overflow: hidden;
	background-color: #f6f3ee;
}


.webshopConfirmation .sum {
	width: 75px;
	text-align: right;
	padding-right: 10px;
}

.webshopConfirmation .image {
	width: 75px;
	vertical-align: top;
}

.webshopConfirmation .articleID {
	display: block;
	color: #a19377;
	font-style: italic;
	font-size: 12px;
	font-weight: bold;
}

.body.summary {
	padding: 10px;
}

.body.summary > div {
	float: left;
}

.body.summary > span {
	display: block;
}


.bodyCollapse.summary {
	padding: 10px;
}

.bodyCollapse.summary > div {
	float: left;
	width:100%;
}

.descriptions span, .values span {
	display: block;
}


.webshopConfirmation .summary .buttons {
	width: 452px;
}

.webshopConfirmation .summary .buttons button {
	margin: 5px;
}

.webshopConfirmation .summary .descriptions {
	width: 148px;
	font-weight: bold;
	margin-left:450px;
}

.webshopConfirmation .summary .values {
	width: 110px;
	text-align: right;
	float:right;
}

.webshopConfirmation .footer {
	font-weight: bold;
}

.webshopConfirmation .footerCollapse {
	font-weight: bold;
}


.webshopConfirmation .highlight {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #eeeae1;
}

.webshopConfirmation .highlight .p1 {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 14px;
}


.webshopConfirmation .highlight .p2 {
	font-size: 16px;
	font-weight: bold;
}

.webshopConfirmation .highlight .p3 {
	font-size: 14px;
}

/*
.webshopConfirmation .control span {
	background: url("../images/spritemap_common.png") no-repeat;
	background-position: -425px -188px;
	background-position: -349px -188px;
}*/

.webshopConfirmation .specs {
	background: none;
}

.webshopConfirmation .specs > td {
	padding-left: 145px;
	padding-top: 0;
}

.webshopConfirmation .specs > td > div {
	font-size: 14px;
	width: 400px;
	overflow: hidden;
}

.webshopConfirmation .specs > td > div > div {
	float: left;
	width: 200px;
}

.webshopConfirmation .ext {
	padding: 10px;
}

.confirmation-iframe
{
    width:100%;
    height:100%;
    overflow:hidden;
    border:none;
}

body.iframe-content
{
    font:  Calibri,Monospace,Arial,Sans-Serif 14px;
    margin: 0;
    
}

.iframe-content h3
{
    color: #333333;
    background: 	#EEEAE1;
    font-size: 14px;
}

.ext a, .returnpolicy a, .p3 a {
    color:#194B96;
    text-decoration: underline !important;
}

.ext a:hover, .returnpolicy a:hover, .p3 a:hover {
    color:#5B92E8;
    text-decoration: underline !important;
}

.theme
{
    color:#316bbd;
}

h3.theme
{
    padding:14px 0 14px 0;
}

.topaydescription
{
    float:left;
    margin-left:450px;
    font-size:16px    
}

.topayvalue
{
    float:right;
    color:#003382;
    font-size:16px    
}

.top
{
    vertical-align:top;
}

 /* Hide all masterpage items */
    
    #GlobalMenu, #Search, #GlobalCart, #GlobalUserInfo, #Footer
    {
        display:none;    
    }
    