body, .localizationRibbon, #Body .mid {
	background: none !important;
}

#Header, #Footer, #SubMenu, #Body .top, #Body .bot,
#MainMenu, #QuickFinder, #InfoAlert, #CenterConsoleMenu,
.relatedProducts, .mainCampaignModule, .bundleOffer, .callToAction {
	display: none !important;
}

#Body {
	top: 0px;
}