﻿<div class="borders rounded">
    <div class="paddings lightGradient header topRounded">Köp Frakthandling - Så Här Funkar Det</div>
    <div class="paddings topBorder">
        <div class="bottomMargin">
            <h3>Du väljer tjänst och tillval</h3>
            Vissa tillval finns bara på posten.se och kan inte beställas hos ombud. Följande tjänster kan köpas i Skicka Direkt:
            <ul>
                <li>Brev Skicka Lätt</li>
                <li>Brevpostförskott</li>
                <li>PostNord Parcel 09</li>
                <li>PostNord Parcel 12</li>
                <li>PostNord Parcel </li>
                <li>EMS International Express</li>
                <li>Expressbrev inrikes</li>
                <li>Expresspaket</li>
                <li>PostNord MyPack Home</li>
                <li>Postpaket inrikes</li>
                <li>Postpaket utrikes</li>
                <li>Rek inrikes</li>
                <li>Rek utrikes</li>
            </ul>
        </div>
        <div class="bottomMargin">
            <h3>Du anger storlek och vikt</h3>
            Vikten avgör priset på brevtjänster. Till brevtjänster räknas Rek inrikes, Rek utrikes, Brevpostförskott, Expressbrev inrikes, Expressbrev utrikes, EMS International Express samt Brev Skicka Lätt.<br />
            <br />
            Storleken avgör priset pakettjänster. Till pakettjänster räknas PostNord Parcel, Hempaket, Expresspaket, Postpaket inrikes och Postpaket utrikes.
        </div>
        <div class="bottomMargin">
            <h3>Du anger avsändaradress och mottagare</h3>
            Du måste skicka och lämna in från Sverige. Aviseringen bestämmer hur mottagaren får information om att försändelsen kan hämtas. Du kan välja om mottagaren ska aviseras via sms, e-post eller brev.
        </div>
        <div class="bottomMargin">
            <h3>Du betalar</h3>
            Du väljer att betala med kort, internetbank eller fakura via Klarna. Det går att betala med Visa och Mastercard samt Internetbankerna hos Nordea och Swedbank.
        </div>
        <div class="bottomMargin">
            <h3>Du skriver ut din frakthandling</h3>
            Skriv ut din frakthandling på egen skrivare och klistrar på den på din försändelse. Du kan behöva speciella etiketter om du t ex ska skicka till ett annat land. Etiketter frågar du efter hos ditt ombud. Läs mer om vilka tullregler som gäller.
        </div>
        <div class="bottomMargin">
            <h3>Hur länge är frakthandlingen giltig?</h3>
            Frakthandlingen gäller i 60 dagar och kan därefter varken användas eller lösas in.
        </div>
        <div class="bottomMargin">
            <h3>Du lämnar in hos ditt ombud</h3>
            <a href="http://www.posten.se/soktjanst/sok_postkontor/sok_servicestallen.jspv?valj=Postombud&radio=servicestallen">Hitta närmaste ombud</a>
        </div>
    </div>
    <div class="paddings lightGradient header topBorder">Hjälp mig välja tjänst</div>
    <div class="paddings topBorder">
        <div class="bottomMargin">
            I Hjälp mig välja tjänst får du hjälp med att se vilka tjänster som finns för att skicka din försändelse.
        </div>
        <div class="bottomMargin">
            <h3>Hur gör jag för att söka tjänst?</h3>
            Ange storlek och vikt på den försändelse, samt till vilket land du vill skicka till. Tryck sedan på "Visa tjänster".
        </div>
        <div class="bottomMargin">
            <h3>Vilka tjänster visas i Hjälp mig välja tjänst?</h3>
            Baserat på den vikt, storlek och land du har angivit så visas de tjänster som din försändelse kan skickas med.
        </div>
        <div class="bottomMargin">
            <h3>I vilken ordning visas tjänsterna?</h3>
            Tjänsterna visas i prisordning.
        </div>
        <div class="bottomMargin">
            <h3>Kan jag selektera träfflistan?</h3>
            Du kan välja att selektera träfflistan på ett flertal olika sätt. Genom att markera i någon av rutorna under "Visa bara tjänster med" kan du selektera träfflistan.
        </div>
        <div class="bottomMargin">
            <h3>Kan jag jämföra tjänsterna i träfflistan?</h3>
            Du kan lätt jämföra tjänsterna i träfflistan genom att trycka på "Jämför resultat".
        </div>
        <div class="bottomMargin">
            <h3>Vad betyder "Köp i eButiken"?</h3>
            Tryck på länken så kommer du till eButiken på Posten.se. Där kan du köpa produkter såsom frimärken och vårt förbetalda sortiment.
        </div>
        <div class="bottomMargin">
            <h3>Vad betyder "Köp frakthandling"?</h3>
            Tryck på länken "Köp frakthandling" så kan du köpa en frakthandling för tjänsten du valt. Du väljer tilläggstjänst, anger avsändare och mottagare, betalar och skriver själv ut frakthandlingen på skrivare. Du fäster frakthandlingen på din försändelse och lämnar in den på ett av Postens ombud.
        </div>
    </div>
    <div class="paddings lightGradient header topBorder">Hur beräknas priset?</div>
    <div class="paddings topBorder">
        <div class="bottomMargin">
            <h3>Vikten avgör priset - Brevtjänster</h3>
            Vikten avgör priset på brevtjänster. Till brevtjänster räknas Rek inrikes, Rek utrikes, Brevpostförskott, Expressbrev inrikes, Expressbrev utrikes, EMS International Express samt Brev Skicka Lätt.
        </div>
        <div class="bottomMargin">
            <h3>Storleken avgör priset - Pakettjänster</h3>
            Storleken avgör priset på pakettjänster. Till pakettjänster räknas PostNord Parcel, Hempaket, Expresspaket, Postpaket inrikes och Postpaket utrikes.
        </div>
        <div class="bottomMargin">
            <h3>Avtalspriser</h3>
            <a target="_blank" href="http://www.posten.se/sv/Kundservice/Porto%20och%20pris/Skickaguiden%20f%C3%B6r%20avtalskunder/Sidor/Home.aspx">Guide med avtalspriser</a>
        </div>
    </div>
    <div class="paddings lightGradient header topBorder">Giltighetstid</div>
    <div class="paddings topBorder">
        <div class="bottomMargin">
            <h3>Hur länge är en frakthandling giltig?</h3>
            När du har köpt en frakthandling i Skicka Direkt så är den giltig i 60 dagar.
        </div>
    </div>
    <div class="paddings lightGradient header topBorder">Kontakta oss</div>
    <div class="paddings topBorder bottomRounded">
        <div class="bottomMargin">
            <h3>Vart ska jag vända mig om jag har frågor om Skicka Direkt?</h3>
            <a href="http://www.posten.se/sv/Kundservice/Kontakta%20oss/Sidor/home.aspx">Kontakta oss</a>
        </div>
    </div>
</div>
