﻿<div class="borders rounded paddings lightGradient topMargin">
    <div class="footerLeft">
        <img src="/_layouts/images/posten.skickadirekt2/postnord_logo_footer.png" alt="PostNord" />
    </div>
    <div class="footerRight">
        <div class="header greyText smallBottomMargin">Kundservice</div>
        <div>
            Telefon: 0771-37 10 15<br />
            E-post: <a href="mailto:kundservice.digital@posten.se" class="greyLink">kundservice.digital@posten.se</a>
        </div>
    </div>
    <div class="bothClear"></div>
</div>