﻿<link rel="stylesheet" href="/Style%20Library/skickadirekt.css" type="text/css">

<div class="cHeaderBlue">E-butiken</div>
<div class="cContentMiddle">
    <div class="imgWrap"><a href="http://www.posten.se/sv/Sidor/iframes/ebutiken/Butiken-forpackningar-med-porto.aspx" target="_blank"><img src="/_Layouts/Images/Posten.SkickaDirekt2/EbutikSpot_blandad2015.jpg" alt="E-butiken" style="border-width: 0px;"></a></div>
    <div class="litWrap bottomMargin">Köp frimärken och förpackningar.</div>
</div>
<div class="cContentEnd">
        <a title="Till e-butiken" class="link" href="http://www.posten.se/sv/Sidor/iframes/ebutiken/Butiken-forpackningar-med-porto.aspx" target="_blank">Till e-butiken</a>
</div>
