﻿
#Header .box.colspan-5 {
    position: relative;
}

#MyPagesUserInfo {
    position: absolute;
    top: 29px;
    right: 0;
    z-index: 100;
}

#MyPagesUserInfo ul {
    /*background: url('/_layouts/images/posten/common/presentation/framweork/sysmenu_bg.png') repeat scroll 0 0 transparent;*/
    /*border-bottom: 1px solid #DBD4C5;
    border-left: 1px solid #DBD4C5;
    border-right: 1px solid #DBD4C5;*/
    height: 23px;
    margin: 0;
    padding: 0;
}

#MyPagesUserInfo .border.bottom.left {
    /*background: url('/_layouts/images/postenportal/corner_sprite.png') no-repeat scroll -10px -5px transparent;*/
    bottom: 0;
    height: 5px;
    left: 0;
    position: absolute;
    width: 5px;
}

#MyPagesUserInfo .border.bottom.right {
    /*background: url('/_layouts/images/postenportal/corner_sprite.png') no-repeat scroll -15px -5px transparent;*/
    bottom: 0;
    height: 5px;
    position: absolute;
    right: 0;
    width: 5px;
}

#MyPagesUserInfo li + li {
    background: url('/_layouts/images/posten/common/presentation/framework/sysmenu_divider.png') no-repeat scroll left center transparent;
}

#MyPagesUserInfo li {
    float: left;
    font-size: 12px;
    padding: 0 12px;
}

#MyPagesUserInfo a, #MyPagesUserInfo span {
    font-size: 12px;
    line-height: 22px;
}

#MyPagesUserInfo span.user, #MyPagesUserInfo li.signout a:hover {
    color: #1A4B97;
}

#MyPagesUserInfo li.signout a {
    color: #666666;
    font-size: 15px;
    font-weight: bold;
}


/*
.article h1
{
    font-size: 28px;
    color: #194B96; 
}

.article h2
{
    font-size: 22px;
    color: #194B96;
}

H1 28 px. Calibri regular #194B96
H2 22 px. Calibri regular #194B96
H3 18 px. Calibri bold #194B96
H4 16 px. Calibri bold #194B96

*/

/*Edit Profile WebPart*/
.edit-profile
{
    width: 100%;    
    float: left;
}

.edit-profile .information-label .basic-info
{
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.edit-profile .information-label,
.edit-profile .information-label .address-disclaimer
{
    float: left;
    width: 100%;
}

.edit-profile .radio-button
{
    float: left;
    padding: 0 0 0 150px;
    text-align: center;
    width: 100%; 
}

.edit-profile .civic-section,
.edit-profile .customer-details,
.edit-profile .email-section,
.edit-profile .password-section
{
    float: left;
    width: 100%;
    margin-top: 10px;    
}
.edit-profile .email-section .email,
.edit-profile .email-section .confirm-email,
.edit-profile .customer-details .firstname,
.edit-profile .customer-details .lastname,
.edit-profile .customer-details .address,
.edit-profile .customer-details .postalandcity,
.edit-profile .customer-details .country,
.edit-profile .customer-details .mobilenumber
{
    float: left;
    width: 100%;
}
.edit-profile .civic-section .civic-tbox,
.edit-profile .password-section .current-pword .current-pword-tbox,
.edit-profile .password-section .new-pword .new-pword-tbox,
.edit-profile .password-section .confirm-pword .confirm-pword-tbox,
.edit-profile .customer-details .mobilenumber .disclaimer,
.edit-profile .customer-details .mobilenumber div,
.edit-profile .email-section .confirm-email span
{
        width:350px;
        float:left;
}
.edit-profile .civic-section .btn-retrieve
{
    float: right;       
}
/**/

.edit-profile .civic-section .civic-label,
.edit-profile .email-section .email label,
.edit-profile .customer-details .firstname label,
.edit-profile .customer-details .lastname label ,
.edit-profile .customer-details .house-address label,
.edit-profile .customer-details .address label,
.edit-profile .customer-details .postalandcity label,
.edit-profile .customer-details .country label,
.edit-profile .customer-details .mobilenumber label,
.edit-profile .email-section .confirm-email label,
.edit-profile .password-section .current-pword .current-pword-lbl,
.edit-profile .password-section .new-pword .new-pword-lbl,
.edit-profile .password-section .confirm-pword .confirm-pword-lbl
{
    float: left; 
    width: 150px; 
    margin: 5px 0;  
}
.edit-profile .civic-section .civic-tbox input,
.edit-profile .customer-details .firstname input,
.edit-profile .customer-details .lastname input ,
.edit-profile .customer-details .house-address input,
.edit-profile .customer-details .address input,
.edit-profile .customer-details .postalandcity input,
.edit-profile .customer-details .mobilenumber input,
.edit-profile .email-section .email input,
.edit-profile .email-section .confirm-email input,
.edit-profile .password-section .current-pword .current-pword-tbox input,
.edit-profile .password-section .new-pword .new-pword-tbox input,
.edit-profile .password-section .confirm-pword .confirm-pword-tbox input
{
    float: left;
    width: 355px;   
    margin: 5px 0; 
}
.edit-profile .customer-details .postalandcity input.postalcode
{
    float:left;
    width: 56px;    
}
.edit-profile .customer-details .postalandcity input.city
{
    float: left;
    width: 295px;    
}
.edit-profile .customer-details .country select
{
    float: left;
    width: 359px;
    font-size: 13px;
}

.edit-profile .password-section .current-pword,
.edit-profile .password-section .new-pword,
.edit-profile .password-section .confirm-pword
{
    float: left;
    width: 100%;    
}

.edit-profile .save-section
{
    width: 100%;
    float: left;  
    margin-top: 10px;  
}

.edit-profile .save-section .save-details-btn
{
    float: right;
    text-align: right;
}

/*End of Edit Profile WebPart*/

/*NewsLetter WebPart*/
.item-added, .item-notadded
{
    width:100%;
    float:left;
    font-size: 14px;
    margin-top:10px;
    color: #194B96;
}
/*End of NewsLetter WebPart*/