<div class="module callToAction">
	<div class="edge top">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	<div class="content">
		<img src="content/banner2.png" alt="">
		<div class="info">
			<span class="headline">Beställ utkörning & hämtning</span>
			<span style="font-weight: bold; font-size: 14px;">Pris från 805 kr/månad exkl moms.</span><br/>
			<span style="font-size: 12px;">(till exempel utkörning eller hämtning av post två dagar i veckan)</span><br/>
			<ul>
				<li><span style="font-weight: bold; font-size: 13px;">Ring 020-23 22 20 och prata postrutiner med oss.</span></li>
				<li><span style="font-weight: bold; font-size: 13px;">Köp postservicecheckar</span></li>
			</ul>
		</div>
	</div>
	<div class="footer">
		<a href="#" class="link">Jag vill läsa mer om detta</a>
	</div>
	<div class="edge bottom">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
</div>

