.callToAction {
	overflow: hidden !important;
	position: relative;
}

.callToAction .content {
	overflow: hidden;
	border: solid 1px #dbd4c4;
	border-bottom: none;
	background: url('../images/call_to_action_topborder.png') top repeat-x;
}

.callToAction img {
	float: left;
	padding-right: 14px;
}

.callToAction .info {
	padding: 10px 14px;
}

.callToAction .headline {
	font-size: 20px;
	margin-bottom: 3px;
}

.callToAction ul {
	margin-top: 10px;
	padding: 0;
	list-style: disc inside;
} 

.callToAction .footer {
	background-color: #f9f9f6;
	border: solid 1px #dbd4c5;
	padding: 5px 14px;
	margin: 0px;
	height: 25px;
	line-height: 25px;
	clear: left;
	bottom: 0px;
	text-align: right;
}

.callToAction .footer a {
	padding-right: 10px;
	background: url('../images/link_arrow_gray.png') right 6px no-repeat;
}