<div class="module campaign">
	<div class="edge top">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	
	<div class="header common">Header</div>
	
	<div class="content">
		<img src="content/banner_w2c.png" alt="" class="left" />
		<div id="asd">
		<div class="headline">Headline</div>
		<div>Lorem ipsum dolor sit ctetur.</div>
		<div><a href="#" class="link">Link<span class="arrow"></span></a></div>
		<div><a href="#" class="link">Link<span class="arrow"></span></a></div>
		</div>
	</div>
	
	<div class="edge bottom">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
</div>