<div class="module campaign">
	<div class="edge top">
		<div class="left"></div>
		<div class="right"></div>
	</div>
	
	<img src="content/banner_w3c.png" alt="" class="left" />
	
	<div class="edge bottom">
		<div class="left"></div>
		<div class="right"></div>
	</div>
</div>