<link href="../styles/framework.css" rel="stylesheet" type="text/css" />
<link href="../styles/common.css" rel="stylesheet" type="text/css" />
<link href="campaign_modules.css" rel="stylesheet" type="text/css" />

<div class="module campaign">
	<div class="edge top">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>

	<div class="content">
		<img src="content/banner_w1.png" alt="" class="" />
		<div class="headline">Headline</div>
		<ul>
			<li>list-item 1</li>
			<li>list-item 2</li>
			<li>list-item 3</li>
		</ul>
	</div>
	
	<div class="edge bottom">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
</div>