<div class="module campaign">
	<div class="edge top">
		<div class="left"></div>
		<div class="right"></div>
	</div>
	
	<div class="header common">Rubrik</div>
	
	<div class="content">
		<div class="headline">Headline</div>
		<p>Running text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		<img src="content/banner_w2.png" alt="" class="left" />
	</div>
	
	<div class="footer"><a href="#" class="link">Länk<span class="arrow"></span></a></div>
	<div class="edge bottom">
		<div class="left"></div>
		<div class="right"></div>
	</div>
</div>