<div class="module campaign">
	<div class="edge top">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	
	<div class="header common">Rubrik</div>
	
	<div class="content">
		<img src="content/banner_w4.png" alt="" />
	</div>
	
	<div class="footer"><a href="#" class="link">Länk<span class="arrow"></span></a></div>
	
	<div class="edge bottom">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
</div>