<div id="CenterConsoleMenu" class="module">

	<!-- ***** Consoles ***** -->
	<div class="console">
		<div class="column first">
			<div class="header theme">
				<div class="edge top"><div class="left"></div><div class="right"></div></div>
				<span class="expander"></span>
				<span>Privat</span>
			</div>
			<ul>
				<li><a href="#">Skicka inrikes</a></li>
				<li><a href="#">Skicka utrikes</a></li>
				<li><a href="#">Om frimärken</a></li>
				<li><a href="#">Porto och pris</a></li>
				<li class="more">
					<a href="#" class="slide"><span>Mer on <br />Privatpost</span><span class="arrow"></span></a>
					<div class="indent"><span></span></div>
					<div class="edge outer bottom"><div class="left border"></div><div class="right border"></div></div>
				</li>
			</ul>
		</div>
		
		<div class="column second">
			<div class="header theme">
				<div class="edge top"><div class="left"></div></div>
				<span class="expander"></span>
				<span>Företagspost</span>
			</div>
			<ul>
				<li><a href="#">Skicka inrikes</a></li>
				<li><a href="#">Skicka utrikes</a></li>
				<li><a href="#">Om frimärken</a></li>
				<li><a href="#">Porto och pris</a></li>
				<li class="more">
					<a href="#" class="slide"><span>Mer om <br />Privatpost</span><span class="arrow"></span></a>
					<div class="indent"><span></span></div>
					<div class="edge outer bottom"><div class="left border"></div><div class="right border"></div></div>
				</li>
			</ul>
		</div>

		<div class="divider"></div>
		
		<div class="column third">
			<div class="header theme">
				<span class="expander"></span>
				<span>Marknads- kommunikation</span>
			</div>
			<ul>
				<li><a href="#">Skicka inrikes</a></li>
				<li><a href="#">Skicka utrikes</a></li>
				<li><a href="#">Om frimärken</a></li>
				<li><a href="#">Porto och pris</a></li>
				<li class="more">
					<a href="#" class="slide"><span>Mer om <br />Privatpost</span><span class="arrow"></span></a>
					<div class="indent"><span></span></div>
					<div class="edge outer bottom"><div class="left border"></div><div class="right border"></div></div>
				</li>
			</ul>
		</div>
		
		<div class="divider"></div>
		
		<div class="column fourth">
			<div class="header theme">
				<div class="edge top"><div class="right"></div></div>
				<span class="expander"></span>
				<span>Logistik</span>
			</div>
			<ul>
				<li><a href="#">Skicka inrikes</a></li>
				<li><a href="#">Skicka utrikes</a></li>
				<li><a href="#">Om frimärken</a></li>
				<li><a href="#">Porto och pris</a></li>
				<li class="more">
					<a href="#" class="slide"><span>Mer om <br />Privatpost</span><span class="arrow"></span></a>
					<div class="indent"><span></span></div>
					<div class="edge outer bottom"><div class="left border"></div><div class="right border"></div></div>
				</li>
			</ul>
		</div>
	</div>

	<!-- ***** Dropdown #1 ***** -->
	<div class="dropDown first">
		<div class="top">
			<div class="left"></div>
			<div class="center header theme">
				<span>Privat</span>
				<div class="close"></div>
			</div>
			<div class="right"></div>
		</div>
		<div class="middle">
			<div class="left"></div>
			<div class="center">
				<div class="column first">
					<div class="quote"><span>Lorem ipsum om kategorien delle nulla de to retis. Kam de to retis for mere litisdelle de to retis. Kam de to retis for mere litis</span></div>
					<div class="landingLink"><a href="#" class="link theme">Gå till försidan<span class="arrow"></span></a></div>
				</div>
				<div class="column second">
					<div class="headline"><span>Rubriktext</span></div>
					<div><a href="#">Skicka inrikes/utrikes</a></div>
					<div><a href="#">Riktiga vykort</a></div>
					<div><a href="#">Om frimärken</a></div>
					<div><a href="#">ePostboxen</a></div>
					<div><a href="#">Köp och sälj på nätet</a></div>
					<div><a href="#">Porto &amp; pris</a></div>
					<div><a href="#">Villkor</a></div>
				</div>
				<div class="column third">
					<div class="headline"><span>Rubriktext</span></div>
					<div><a href="#">PallSjö- och flygfrakt</a></div>
					<div><a href="#">Bil Europa</a></div>
					<div><a href="#">InNight</a></div>
					<div><a href="#">Tredjepartslogistik</a></div>
					<div><a href="#">Verktyg</a></div>
					<div><a href="#">E-handel</a></div>
				</div>
				<div class="column fourth banner">
					<div><span style="font-weight:bold; font-size: 16px;">Ta din e-handel till toppen!</span></div>
					<div><span style="font-weight:bold; font-size: 14px;">Allt du behöver veta om e-handel</span></div>
					<div><button>Visa mer</button></div>
					<img src="content/center_console_menu_banner.png" alt="" />
				</div>
			</div>
			<div class="right"></div>
		</div>
		<div class="bottom">
			<div class="left"></div>
			<div class="center"></div>
			<div class="right"></div>
		</div>
	</div>

	<!-- ***** Dropdown #2 ***** -->
	<div class="dropDown second">
		<div class="top">
			<div class="frame left header theme"></div>
			<div class="frame center header theme">
				<span>Företagspost</span>
				<div class="close"></div>
			</div>
			<div class="frame right header theme"></div>
		</div>
		<div class="middle">
			<div class="frame left"></div>
			<div class="content">
				<div class="column first">
					<div class="quote"><span>Lorem ipsum om kategorien delle nulla de to retis. Kam de to retis for mere litisdelle de to retis. Kam de to retis for mere litis</span></div>
					<div class="landingLink"><a href="#" class="link theme">Gå till försidan<span class="arrow"></span></a></div>
				</div>
				<div class="column second">
					<div class="headline"><span>Rubriktext</span></div>
					<div><a href="#">Skicka inrikes/utrikes</a></div>
					<div><a href="#">Riktiga vykort</a></div>
					<div><a href="#">Om frimärken</a></div>
					<div><a href="#">ePostboxen</a></div>
					<div><a href="#">Köp och sälj på nätet</a></div>
					<div><a href="#">Porto &amp; pris</a></div>
					<div><a href="#">Villkor</a></div>
				</div>
				<div class="column third">
					<div class="headline"><span>Rubriktext</span></div>
					<div><a href="#">PallSjö- och flygfrakt</a></div>
					<div><a href="#">Bil Europa</a></div>
					<div><a href="#">InNight</a></div>
					<div><a href="#">Tredjepartslogistik</a></div>
					<div><a href="#">Verktyg</a></div>
					<div><a href="#">E-handel</a></div>
				</div>
				<div class="column fourth banner">
					<div><span style="font-weight:bold; font-size: 16px;">Ta din e-handel till toppen!</span></div>
					<div><span style="font-weight:bold; font-size: 14px;">Allt du behöver veta om e-handel</span></div>
					<div><button>Visa mer</button></div>
					<img src="content/center_console_menu_banner.png" alt="" />
				</div>
			</div>
			<div class="frame right"></div>
		</div>
		<div class="bottom">
			<div class="frame left"></div>
			<div class="frame center"></div>
			<div class="frame right"></div>
		</div>
	</div>

	<!-- ***** Dropdown #3 ***** -->
	<div class="dropDown third">
		<div class="top">
			<div class="frame left"></div>
			<div class="frame center header theme">
				<span>Marknadskommunikation</span>
				<div class="close"></div>
			</div>
			<div class="frame right"></div>
		</div>
		<div class="middle">
			<div class="frame left"></div>
			<div class="content">
				<div class="column first">
					<div class="quote"><span>Lorem ipsum om kategorien delle nulla de to retis. Kam de to retis for mere litisdelle de to retis. Kam de to retis for mere litis</span></div>
					<div class="landingLink"><a href="#" class="link theme">Gå till försidan<span class="arrow"></span></a></div>
				</div>
				<div class="column second">
					<div class="headline"><span>Rubriktext</span></div>
					<div><a href="#">Skicka inrikes/utrikes</a></div>
					<div><a href="#">Riktiga vykort</a></div>
					<div><a href="#">Om frimärken</a></div>
					<div><a href="#">ePostboxen</a></div>
					<div><a href="#">Köp och sälj på nätet</a></div>
					<div><a href="#">Porto &amp; pris</a></div>
					<div><a href="#">Villkor</a></div>
				</div>
				<div class="column third">
					<div class="headline"><span>Rubriktext</span></div>
					<div><a href="#">PallSjö- och flygfrakt</a></div>
					<div><a href="#">Bil Europa</a></div>
					<div><a href="#">InNight</a></div>
					<div><a href="#">Tredjepartslogistik</a></div>
					<div><a href="#">Verktyg</a></div>
					<div><a href="#">E-handel</a></div>
				</div>
				<div class="column fourth banner">
					<div><span style="font-weight:bold; font-size: 16px;">Ta din e-handel till toppen!</span></div>
					<div><span style="font-weight:bold; font-size: 14px;">Allt du behöver veta om e-handel</span></div>
					<div><button>Visa mer</button></div>
					<img src="content/center_console_menu_banner.png" alt="" />
				</div>
			</div>
			<div class="frame right"></div>
		</div>
		<div class="bottom">
			<div class="frame left"></div>
			<div class="frame center"></div>
			<div class="frame right"></div>
		</div>
	</div>

	<!-- ***** Dropdown #4 ***** -->
	<div class="dropDown fourth">
		<div class="top">
			<div class="frame left"></div>
			<div class="frame center header theme">
				<span>Logistik</span>
				<div class="close"></div>
			</div>
			<div class="frame right"></div>
		</div>
		<div class="middle">
			<div class="frame left"></div>
			<div class="content">
				<div class="column first">
					<div class="quote"><span>Lorem ipsum om kategorien delle nulla de to retis. Kam de to retis for mere litisdelle de to retis. Kam de to retis for mere litis</span></div>
					<div class="landingLink"><a href="#" class="link theme">Gå till försidan<span class="arrow"></span></a></div>
				</div>
				<div class="column second">
					<div class="headline"><span>Rubriktext</span></div>
					<div><a href="#">Skicka inrikes/utrikes</a></div>
					<div><a href="#">Riktiga vykort</a></div>
					<div><a href="#">Om frimärken</a></div>
					<div><a href="#">ePostboxen</a></div>
					<div><a href="#">Köp och sälj på nätet</a></div>
					<div><a href="#">Porto &amp; pris</a></div>
					<div><a href="#">Villkor</a></div>
				</div>
				<div class="column third">
					<div class="headline"><span>Rubriktext</span></div>
					<div><a href="#">PallSjö- och flygfrakt</a></div>
					<div><a href="#">Bil Europa</a></div>
					<div><a href="#">InNight</a></div>
					<div><a href="#">Tredjepartslogistik</a></div>
					<div><a href="#">Verktyg</a></div>
					<div><a href="#">E-handel</a></div>
				</div>
				<div class="column fourth banner">
					<div><span style="font-weight:bold; font-size: 16px;">Ta din e-handel till toppen!</span></div>
					<div><span style="font-weight:bold; font-size: 14px;">Allt du behöver veta om e-handel</span></div>
					<div><button>Visa mer</button></div>
					<img src="content/center_console_menu_banner.png" alt="" />
				</div>
			</div>
			<div class="frame right"></div>
		</div>
		<div class="bottom">
			<div class="frame left"></div>
			<div class="frame center"></div>
			<div class="frame right"></div>
		</div>
	</div>

</div>