<div class="module iframe">
	<div class="edge outer top">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	<div class="edge outer bottom">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	
	<object data="content/lorem_ipsum.html" type="text/html" height="100%" width="100%"></object>
</div>