<div id="QuickFinder" class="module">
	<div class="edge outer top">
		<div class="left"></div>
		<div class="right"></div>
	</div>
	
	<ul>
		<li class="header theme"><span>Hitta</span></li>
		<li class="headline active"><a href="#" class="switch">Spåra brev &amp; paket<span class="arrow secondary-secondary"></span></a></li>
		<li class="area">
			<p>Fyll i kolli-id eller brev-id</p>
			<div class="form tracker">
				<input type="text" value="" />
				<span id="button"><input type="submit" value="Sök" /></span>
			</div>
			<p><a href="#" class="link">Avancerad sökning<span class="arrow"></span></a></p>
			<p><a href="#" class="link">Här hittar du ditt kolli-id<span class="arrow"></span></a></p>
		</li>
		<li class="headline"><a href="#" class="switch">Porto &amp; pris<span class="arrow secondary-secondary"></span></a></li>
		<li class="area">
			<p>Vart vill du skicka försändelsen?</p>
			<div class="form">
				<select name="">
					<option value="">Portotabeller</option>
				</select>
				<select name="">
					<option value="">Brev inrikes</option>
				</select>
				<input type="button" value="Sök" />
			</div>
			<p>Portotabellerna ger över- sikt över våra vanligaste prisnivåer.</p>
		</li>
		<li class="headline"><a href="#" class="switch">Sök postnummer &amp; adress<span class="arrow secondary-secondary"></span></a></li>
		<li class="area">
			<div class="form">
				<p>Adress:</p>
				<input type="text" value="" />
				<p>Postort:</p>
				<input type="text" value="" />
				<input type="button" value="Sök" />
			</div>
			<p><a href="#" class="link">Avancerad sökning<span class="arrow"></span></a></p>
			<p><a href="#" class="link">Mer om postnummer<span class="arrow"></span></a></p>
		</li>
		<li class="headline"><a href="#" class="switch">Här finns Posten<span class="arrow secondary-secondary"></span></a></li>
		<li class="area">
			<div class="form">
				<select name="">
					<option value="">--- Vad vill du göra? ---</option>
				</select>
				<p>Gatunamn, ort eller postnr:</p>
				<input type="text" value="" />
				<input type="button" value="Sök" />
			</div>
		</li>
		<li class="headline"><a href="#" class="switch">Sök brevlåda<span class="arrow secondary-secondary"></span></a></li>
		<li class="area">
			<div class="form">
				<select name="">
					<option value="">--- Vad vill du göra? ---</option>
				</select>
				<p>Gatunamn, ort eller postnr:</p>
				<input type="text" value="" />
				<input type="button" value="Sök" />
			</div>
			<div class="bottomBorder"></div>
		</li>
	</ul>
	<div class="bottomBanner"><a href="#"><img src="content/dr_labbet.png" alt="Lilla DR-labbet" /></a></div>
	<div class="edge bottom border">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
</div>