<div class="module relatedProducts">
	<div class="left">
		<div class="header theme">
			<div class="edge top"><div class="left"></div></div>
			<span>Se också</span>
		</div>
		<ul>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li class="divider"></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
		</ul>
		<div class="img">
			<img src="content/related_products_img1.png" alt="" />
		</div>
	</div>
	<div class="center">
		<div class="header theme">
			<div class="edge top"><div class="left"></div><div class="right"></div></div>
			<span>Produkter</span>
		</div>
		<ul>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li class="divider"></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
		</ul>
		<div class="img">
			<img src="content/related_products_img2.png" alt="" />
		</div>
		<div class="gradient"></div>
	</div>
	<div class="right">
		<div class="header theme">
			<div class="edge top"><div class="right"></div></div>
			<span>Kontakt</span>
		</div>
		<ul>
			<li>Vestibulum mauris mauris, varius sit amet tempus quis.</li>
			<li class="divider"></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a class="link" href="#">Lorem Ipsum<span class="arrow"></span></a></li>
		</ul>
		<div class="img">
			<img src="content/related_products_img3.png" alt="" />
		</div>
	</div>
	<div class="footer"><div></div></div>
</div>