<div class="module relatedContent">
	<div class="edge outer top">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	
	<div class="header">
		<span>Relaterat innehåll:</span>
		<a href="#" class="control">Visa alla<span class="arrow medium primary down"></span></a>
	</div>
	
	<div class="content">
		<ul class="column wide links">
			<li><a href="#" class="link">Lorem Ipsum dolar sed do tempor<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li class="expansion hidden"><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li class="expansion hidden"><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li class="expansion hidden"><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li class="expansion hidden"><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
		</ul>
		
		<ul class="column wide files">
			<li><a href="#" class="file pdf"><span class="text">Vilkor</span><span class="size">(154 kB)</span></a></li>
			<li><a href="#" class="file pdf"><span class="text">Vilkor</span><span class="size">(154 kB)</span></a></li>
			<li><a href="#" class="file pdf"><span class="text">Vilkor</span><span class="size">(154 kB)</span></a></li>
			<li class="expansion hidden"><a href="#" class="file pdf"><span class="text">Vilkor</span><span class="size">(154 kB)</span></a></li>
			<li class="expansion hidden"><a href="#" class="file pdf"><span class="text">Vilkor</span><span class="size">(154 kB)</span></a></li>
			
		</ul>
	</div>
	
	<div class="edge outer bottom">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
</div>