.relatedContent {
	position: relative;
	border: solid 1px #dbd4c5;
}

.relatedContent .header {
	border-bottom: solid 1px #dbd4c5;
	color: #194b96;
	background: none;
}
	
.relatedContent .paginator {
	float: right;
}

.relatedContent .paginator span {
	font-size: 14px;
	color: #333;
}


.relatedContent .content {
	overflow: hidden;
	padding: 20px 14px 20px 14px;
}

.relatedContent .column {
	width: 152px;
	min-height: 70px;
	float: left;
}

.relatedContent .column + .column {
	margin-left: 10px;
	padding-left: 10px;
	background: url('../images/v_divider.png') left center no-repeat;
	border-left: 1px solid #DBD4C5;
}

.relatedContent .column.wide {
	width: 238px;
}

.relatedContent ul.files li + li {
	margin-top:15px;
}

.relatedContent .content.files .column + .column {
	background: url('../images/v_divider_small.png') left center no-repeat;
}

.relatedContent .hidden {
	display: none;
}

.relatedContent .hidden {
	display: none;
}

.relatedContent a {
	color: #666;
}


.relatedContent a .text {
	text-decoration: underline !important;
}