<style>
.productGrid .content { }
.module.border { border: solid 1px #dbd4c5; }
.productGrid { padding: 14px; }

.productGrid .content > div {
	padding-top: 1px;
	background: url("images/dividers/horizontal_546.png") no-repeat scroll 0 0 transparent;
	overflow: hidden;
}
.productGrid .content > div:first-child { padding-top: 0px; background: none; }
.productGrid .content > div:first-child div { padding-top: 0px; }
.productGrid .content > div > div { float: left; width: 153px; border-left: solid 1px #d9d9d9; height: 240px; padding: 14px; }

.productGrid .content > div > div:first-child { border-left: none; padding-left: 0px; }
.productGrid .content > div > div.last-child { padding-right: 0px; }

.productGrid span { display: block; }
.productGrid .package a { color: #333; font-size: 14px; }
.productGrid .region { font-style: italic; font-size: 12px; }
.productGrid .artid { color: #ccc; font-style: italic; font-size: 12px; }
.productGrid .price { text-align: right; font-weight: bold; }
.productGrid .quantity { margin: 7px 0; }
.productGrid .buy { text-align: right; }
.productGrid .buy a { color: #fff; }
.productGrid .buy a span.basket { display: inline-block; width: 13px; height: 11px; background: url("images/spritemap_common.png") -27px -49px no-repeat; padding: 0; margin: 4px 7px 0 0; }
.productGrid input { width: 20px; }
.productGrid select { width: 110px; }

</style>

<div class="module productGrid border">
	<div class="edge top outer"><div class="left border"></div><div class="right border"></div></div>
	
	<div class="content">
		<div>
			<div>
				<img src="content/webshop_1.png" alt="" />
				<span class="headline">Resa i rymden</span>
				<span class="package"><a href="#">Enstaka märke 6kr.</a></span>
				<span class="region">Utrikes</span>
				<span class="artid">Art #51845291</span>
				<span class="price">199,50 kr</span>
				<span class="quantity"><input type="text" value="1" /> x <select><option>Frimärken</option></select></span>
				<span class="buy"><a href="#" class="linkBtn"><span class="basket"></span>Köp</a></span>
			</div>
			<div>

			</div>
			<div class="last-child">

			</div>
		</div>
		<div>
			<div></div>
			<div></div>
			<div class="last-child"></div>
		</div>
		<div>
			<div></div>
			<div></div>
			<div class="last-child"></div>
		</div>
		<div class="bottom">
			<div></div>
			<div></div>
			<div class="last-child"></div>
		</div>
	</div>
	
	<div class="edge bottom outer"><div class="left border"></div><div class="right border"></div></div>
</div>