﻿<%@ Assembly Name="$SharePoint.Project.AssemblyFullName$" %>
<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CartService.aspx.cs" Inherits="Posten.Portal.Cart.Presentation.ApplicationPages.CartService" %>
