﻿<%@ Assembly Name="Posten.Portal.Cart.Presentation, Version=2.0.0.0, Culture=neutral, PublicKeyToken=9f4da00116c38ec5" %>
<%@ WebHandler Language="C#" Class="Posten.Portal.Cart.Presentation.ApplicationPages.ReceiptHandler" %>