<div class="module campaign headerPrimary">
	<div class="content"> 
		<div class="header">Header</div>
		
		<div class="body">
			<img src="content/banner_w2c.png" alt="" class="left" />
			<div id="asd">
			<div class="headline">Headline</div>
			<div>Lorem ipsum dolor sit ctetur.</div>
			<div><a href="#" class="link">Link</a></div>
			<div><a href="#" class="link">Link</a></div>
			</div>
		</div>
	</div>
</div>