<link href="../styles/framework.css" rel="stylesheet" type="text/css" />
<link href="../styles/common.css" rel="stylesheet" type="text/css" />
<link href="campaign_modules.css" rel="stylesheet" type="text/css" />

<div class="module campaign">
	<div class="corners">
		<div class="tl"></div><div class="tr"></div>
                    <div class="header"></div>
                    <div class="body">
                    	<img src="content/banner_w1.png" alt="" class="" />
                        <div class="headline">Headline</div>
                        <ul>
                            <li>list-item 1</li>
                            <li>list-item 2</li>
                            <li>list-item 3</li>
                        </ul>
                    </div>
                    <div class="footer"></div>
		<div class="bl"></div><div class="br"></div>
	</div>
	<div>Danskt designflum</div>
</div>