
#InfoAlert {
	height: 37px;
	vertical-align: middle;
}

.background {
	overflow: hidden;
}

#InfoAlert .content .maxWidth {
	float: left;
	width: 635px;
}

#InfoAlert .content table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
}


#InfoAlert .content td {
	height: 37px;
}

#InfoAlert .headline {
	padding: 0 14px;
}

#InfoAlert .info {
	padding: 0 14px;
	overflow: hidden;
	background: url('../images/v_divider.png') left no-repeat transparent;
}

#InfoAlert .info li {
	display: none;
}

#InfoAlert .info li.active {
	display: list-item;
}

#InfoAlert .date {
	display: inline-block;
	position: absolute;
	width: 57px;
	color: #998c6e;
	text-align: right;
	font-size: 12px;
}

#InfoAlert .date span {
	color: #000;
	margin-left: 3px;
}

#InfoAlert .message {
	display: inline-block;
	padding-left: 60px;
	font-size: 12px;
}

#InfoAlert .divider {
	float: right;
	height: 37px;
	width: 1px;
	background: url('../images/dividers/vertical_3.png') left center no-repeat;
}

#InfoAlert .paginator {
	float: right;
	height: 37px;
	line-height: 37px;
	padding: 0 14px;
	font-size: 12px;
	width: 60px;
	font-weight: bold;
	text-align: center;
}

#InfoAlert .paginator > * {
	display: inline-block;
}

#InfoAlert .paginator > span {
	width: 35px;
}