#SearchResult .headline {
	font-size: 20px;
}

#SearchResult .form .headline {
	font-size: 16px;
	position: relative;
	background-color: #f6f3ee;
	font-weight: normal;
}

#SearchResult .form .headline span {
	display: inline-block;
	padding: 2 7px;
}

#SearchResult ul.resultList .headline {
	display: block;
	font-weight: normal;
	font-size: 18px;
}

#SearchResult ul.resultList li {
	padding: 20px 0px;
	overflow: hidden;
	border-top: 1px solid #dbd4c5;
}

#SearchResult ul.resultList img {
	float: left;
	width: 65px;
	height: 70px;
	margin-right: 14px;
}

#SearchResult .paginator {
	overflow: hidden;
	position: relative;
	background-color: #f6f3ee;
}

#SearchResult .searchform {
	margin: 20px 0px;
}

#SearchResult .searchform input[type='image'] {
	vertical-align: bottom;
}

#SearchResult .searchform span input {
	width: 300px;
}

#SearchResult .paginator ul {
	display: inline-block;
	
}

#SearchResult .pages span {
	display: inline-block;
	height: 44px;
	font-weight: bold;
	line-height: 44px;
	font-size: 12px;
	padding: 0 10px;
	color: #998c6e;
}

#SearchResult .paginator .content > div {
	float: left;
}

#SearchResult .paginator .button {
	margin: 10px;
}

#SearchResult .paginator .content > div.pages {
	width: 460px;
	text-align: center;
}

/************************************************************** Document Search Result */

#DocumentSearchResult .header {
	height: 48px;
	font-size: 17px;
	line-height: 16px;
	color: #fff;
	position: relative;
}

#DocumentSearchResult .header .content {
	padding: 10px 10px;
}

#DocumentSearchResult li {
	padding: 10px;
}

#DocumentSearchResult li + li {
	background: url('../images/dividers/horizontal_1.png') center top no-repeat;
}

#DocumentSearchResult li a.file {
	padding-left: 30px;
}

#DocumentSearchResult li a.doc {
	background: url('../images/icons/doc.png') left center no-repeat;
}

#DocumentSearchResult li a.xls {
	background: url('../images/icons/xls.png') left center no-repeat;
}

#DocumentSearchResult li a.pdf {
	background: url('../images/icons/pdf.png') left center no-repeat;
}

#DocumentSearchResult .body {
	position: relative;
	border: 1px solid #dbd4c5;
	border-top: none;
	background-color: #faf9f5;
}

#DocumentSearchResult .paginator {
	overflow: hidden;
}

#DocumentSearchResult .paginator > div {
	float: left;
}

#DocumentSearchResult .paginator .button {
	margin: 10px 13px;
}

#DocumentSearchResult .pages {
	width: 74px;
	height: 43px;
	font-size: 12px;
	font-weight: bold;
	line-height: 43px;
	text-align: center;
}

