<div id="SearchResult" class="module">
	<span class="headline">Sökresultat</span>
	
	<div class="form">
		<div class="headline">
			<div class="edge top">
				<div class="left"></div>
				<div class="right"></div>
			</div>
			<span>Din sökning på <strong>frimärk</strong> gav 174 träffar</span>
			<div class="edge bottom">
				<div class="left"></div>
				<div class="right"></div>
			</div>
		</div>
		<div class="searchform">
			<span class="textField"><input type="text"></span><input type="image" src="images/framework/search.png">
			<a href="#">Fann du inte vad du sökte?</a>
		</div>
	</div class="form">
	
	<ul class="resultList">
		<li>
			<img src="" alt="ImgDesc" class="preview">
			<span class="headline">Allt om <strong>frimärk</strong>en</span>
			<span>Svenska <strong>frimärk</strong>en är kända över hela världen. De vackra formerna, den högkvalitativa gravyren och känslan för detaljer ger en unik känsla.</span>
		</li>
		<li>
			<span class="headline">Abbonera på <strong>frimärk</strong>en</span>
			<span>Svenska <strong>frimärk</strong>en är kända över hela världen. De vackra formerna, den högkvalitativa gravyren och känslan för detaljer ger en unik känsla.</span>
		</li>
		<li>
			<span class="headline">Samla <strong>frimärk</strong>en</span>
			<span>Svenska <strong>frimärk</strong>en är kända över hela världen. De vackra formerna, den högkvalitativa gravyren och känslan för detaljer ger en unik känsla.</span>
		</li>
	</ul>
	
	<div class="paginator">
		<div class="edge top">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		
		<div class="content">
			<div>
				<a href="#" class="button arrowLeft"><div></div></a>
			</div>
			<div class="pages">
				<span class="selected">1</span>
				<span>2</span>
				<span>3</span>
				<span>4</span>
				<span>5</span>
				<span>6</span>
				<span>7</span>
				<span>8</span>
				<span>9</span>
				<span>10</span>
				<span>11</span>
				<span>12</span>
				<span>13</span>
				<span>14</span>
			</div>
			<div>
				<a href="#" class="button arrowRight"><div></div></a>
			</div>
		</div>
		
		<div class="edge bottom">
			<div class="left"></div>
			<div class="right"></div>
		</div>
	</div>
</div>