.basket-styles h1 {
  margin: 0;
  padding: 0;
}
.basket-styles h2 {
  margin: 0;
  padding: 0;
}
.basket-styles h3 {
  margin: 0;
  padding: 0;
}
.basket-styles h4 {
  margin: 0;
  padding: 0;
}
.basket-styles h5 {
  margin: 0;
  padding: 0;
}
.basket-styles p {
  margin: 0;
  padding: 0;
}
.basket-styles table {
  margin: 0;
  padding: 0;
}
.basket-styles input {
  color: #000000;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 268px;
}
.basket-styles textarea {
  color: #000000;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 268px;
}
.basket-styles textarea {
  color: #000000;
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: 18px;
}
.basket-styles input.text { padding: 5px 0 0 0; }
.basket-styles input.postalcode { width: 40px; }
.basket-styles input.city { width: 134px; }
.basket-styles a:active {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
.basket-styles a:link {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
.basket-styles a:visited {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
.basket-styles a.arrow-right:active span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.basket-styles a.arrow-right:link span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.basket-styles a.arrow-right:visited span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.basket-styles a.arrow-down:active span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.basket-styles a.arrow-down:link span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.basket-styles a.arrow-down:visited span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.basket-styles span.arrow-right-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.basket-styles span.arrow-up-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.basket-styles span.arrow-down-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.basket-styles span.arrow-up-white {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.basket-styles span.arrow-down-white {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.basket-styles a.arrow-right:active span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.basket-styles a.arrow-right:link span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.basket-styles a.arrow-right:visited span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.basket-styles a.arrow-down:active span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.basket-styles a.arrow-down:link span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.basket-styles a.arrow-down:visited span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.basket-styles span.arrow-right-dark { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -7px 0 transparent; }
.basket-styles span.arrow-up-dark { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -24px 0 transparent; }
.basket-styles span.arrow-up-white { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll 0 0 transparent; }
.basket-styles span.arrow-down-white { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -9px 0 transparent; }
/*
.basket-styles a.arrow-right:active span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.basket-styles a.arrow-right:link span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.basket-styles a.arrow-right:visited span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.basket-styles a.arrow-down:active span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.basket-styles a.arrow-down:link span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.basket-styles a.arrow-down:visited span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.basket-styles span.arrow-right-dark { background: url('/Images/elements-sprite-2.png') no-repeat scroll -7px 0 transparent; }
.basket-styles span.arrow-up-dark { background: url('/Images/elements-sprite-2.png') no-repeat scroll -24px 0 transparent; }
.basket-styles span.arrow-up-white { background: url('/Images/elements-sprite-2.png') no-repeat scroll 0 0 transparent; }
.basket-styles span.arrow-down-white { background: url('/Images/elements-sprite-2.png') no-repeat scroll -9px 0 transparent; }
*/
.basket-styles a:hover { color: #031e50; }
/*.basket-styles a.arrow-right:hover span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }*/
.basket-styles a.arrow-right:hover span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.basket-styles h1 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
.basket-styles h2 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
.basket-styles h3 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
.basket-styles h1 {
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 24px;
}
.basket-styles h2 {
  background-color: #b2d6f6;
  font-size: 14px;
  margin-bottom: 3px;
  padding: 8px 12px 12px 12px;
}
.basket-styles h3 {
  background-color: #d8ebfb;
  font-size: 14px;
  padding: 12px;
}
.basket-styles h4 {
  font-size: 14px;
  font-weight: bold;
}
.basket-styles .h4title {
  font-size: 14px;
  font-weight: bold;
}
.basket-styles a.basket-button {
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite.png') no-repeat scroll 0 -109px transparent;
  /*background: url('/Images/elements-borders-sprite.png') no-repeat scroll 0 -109px transparent;*/
  display: block;
  height: 27px;
  outline: medium none;
  text-decoration: none;
  float: left;
}
.basket-styles a.basket-button-disabled {
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite.png') no-repeat scroll 0 -109px transparent;
  /*background: url('/Images/elements-borders-sprite.png') no-repeat scroll 0 -109px transparent;*/
  display: block;
  height: 27px;
  outline: medium none;
  text-decoration: none;
  float: left;
}
.basket-styles a.basket-button span {
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite.png') no-repeat scroll right -136px transparent;
  /*background: url('/Images/elements-borders-sprite.png') no-repeat scroll right -136px transparent;*/
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  padding: 3px 13px 3px 0;
  margin-left: 13px;
}
.basket-styles a.basket-button-disabled span {
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite.png') no-repeat scroll right -136px transparent;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  padding: 3px 13px 3px 0;
  margin-left: 13px;
}
.basket-styles a.basket-button-disabled { background-position: 0 -246px; }
.basket-styles a.basket-button-disabled span {
  background-position: right -273px;
  color: #bbbbbb;
}
ul.cart-items {
  margin: 0;
  padding: 0;
}
ul.cart-items li {
  display: block;
  list-style: none;
}
ul.cart-items li.product {
  border-bottom: 1px solid #e5e5e5;
  padding: 12px 9px 12px 12px;
}
ul.cart-items li.product-last-item { border-bottom: 0; }
ul.cart-items li.product-with-details { border-bottom: 0; }
ul.cart-items li.product .product-image {
  float: left;
  padding-left: 11px;
  padding-right: 11px;
}
ul.cart-items li.product div.info {
  float: left;
  width: 420px;
}
ul.cart-items li.product div.info p.description { color: #5a6c8c; }
ul.cart-items li.product div.price-container {
  float: right;
  padding-left: 11px;
}
ul.cart-items li.product div.price-container .h4title {
  padding-bottom: 5px;
  text-align: right;
}
ul.cart-items li.product div.price-container div.vat {
  padding-bottom: 5px;
  text-align: right;
}
ul.cart-items li.product div.price-container a.button-edit {
  margin-right: 10px;
  margin-bottom: 4px;
}
ul.cart-items li.product div.price-container div.price-container-buttons {
  padding-left: 10px;
  float: right;
  display: block;
  width: 70px;
}
ul.cart-items li.product div.price-container div.price-container-buttons a.button { display: inline; }
ul.cart-items li.product div.price-container div.price-container-buttons img {
  position: relative;
  float: left;
  z-index: 1;
  left: 4px;
  top: 4px;
}
ul.cart-items li.product div.price-container div.price-container-price {
  float: right;
  display: block;
  padding-top: 2px;
}
ul.cart-items li.product div.product-details {
  background-color: #f2f9ff;
  display: none;
  margin-top: 12px;
  padding: 20px;
}
ul.cart-items li.product-option { padding: 0 2px 2px; }
ul.cart-items li.product-option div.container {
  background-color: #e5f3ff;
  padding: 7px 14px;
  vertical-align: middle;
}
ul.cart-items li.product-option div.container div.inner-container {
  float: left;
  margin-top: 7px;
}
ul.cart-items li.product-option div.container div.inner-container input { margin-right: 10px; }
ul.cart-items li.product-option div.container div.inner-container span.description { font-weight: normal; }
ul.cart-items li.product-option-first { padding-top: 2px; }
ul.cart-items li.details {
  background-color: #e6f3ff;
  border: 0;
  padding: 20px;
}
div.basket-item-container ul.cart-items li.product div.info { width: 520px; }
ul.cart-items-last { margin-bottom: 6px; }
div.campain-code {
  background-color: #cce7ff;
  margin-bottom: 20px;
  padding: 20px 0 20px 20px;
}
div.campain-code div.inner-container { float: left; }
div.campain-code div.price-container { margin-top: 15px; }
#payment-sum h2 {
  text-align: left;
  background-color: #eef8e0;
  float: left;
}
#payment-sum div.payment-sum-price-container {
  background-color: #eef8e0;
  padding: 0 20px 0 0;
  text-align: right;
  margin-bottom: 12px;
}
#payment-sum div.payment-sum-price-container div.vat {
  padding-bottom: 12px;
  padding-top: 3px;
}
#payment-sum div.payment-sum-price-container .title {
  font-size: 14px;
  padding-top: 8px;
}
#payment-sum div.payment-sum-price-container .small-title { font-size: 12px; }
#main-content #customer-info {
  background-color: #e5f3ff;
  margin-bottom: 20px;
  padding: 0 0 0 12px;
}
#main-content #customer-info h3 {
  background-color: transparent;
  padding: 12px 20px 12px 20px;
}
#main-content #customer-info div.full-info { padding: 12px 12px 12px 0; }
#main-content #customer-info div.full-info input {
  vertical-align: top;
  margin-right: 5px;
  width: 15px;
}
#main-content #customer-info div.full-info label {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
  cursor: hand;
}
#main-content #customer-info ul.customer-form {
  margin: 0;
  padding: 12px 0 12px 0;
}
#main-content #customer-info ul.customer-form .customer-email input { width: 268px; }
#main-content #customer-info ul.customer-form li {
  clear: both;
  list-style: none;
  margin-bottom: 7px;
}
#main-content #customer-info ul.customer-form li label {
  display: block;
  font-weight: bold;
  outline: none;
  padding-bottom: 5px;
}
#main-content #customer-info ul.customer-form-bright {
  background-color: #f2f9ff;
  display: none;
  padding-bottom: 12px;
  padding-left: 12px;
  margin-left: -12px;
}
#main-content #customer-info .error-message {
  color: #ce0004;
  font-weight: bold;
}
.payment-error-message {
  color: #ce0004;
  font-weight: bold;
}
#main-content #customer-agreement {
  font-weight: bold;
  padding: 0 0 20px 20px;
  text-align: right;
}
#main-content #customer-agreement input {
  vertical-align: top;
  margin-right: 5px;
  width: 15px;
}
#main-content #customer-agreement a { text-decoration: underline; }
#main-content a.button-checkout-proceed {
  float: right;
  font-size: 14px;
  margin-bottom: 20px;
}
#main-content p.payment-options-info {
  font-weight: bold;
  padding-bottom: 20px;
  text-align: right;
}
#main-content p.message { padding: 14px 0 14px 12px; }
table.form-view-fix {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
table.form-view-fix tr {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
table.form-view-fix td {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
}
