.basket-commonstyles a.button {
  display: block;
  background: url('/_layouts/Posten/Cart/1.5/Images/button-sprite.png') -2000px -2000px no-repeat;
  /*background: url('/Images/button-sprite.png') -2000px -2000px no-repeat;*/
  float: left;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  position: relative;
}
.basket-commonstyles a.button span {
  display: block;
  background: url('/_layouts/Posten/Cart/1.5/Images/button-sprite.png') -2000px -2000px no-repeat;
  /*background: url('/Images/button-sprite.png') -2000px -2000px no-repeat;*/
  float: left;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  position: relative;
}
.basket-commonstyles a.button input {
  display: block;
  background: url('/_layouts/Posten/Cart/1.5/Images/button-sprite.png') -2000px -2000px no-repeat;
  /*background: url('/Images/button-sprite.png') -2000px -2000px no-repeat;*/
  float: left;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
  position: relative;
}
.basket-commonstyles a.button span {
  text-align: left;
  font-weight: normal;
  word-wrap: normal;
  white-space: nowrap;
  position: relative;
}
.basket-commonstyles a.button input {
  text-align: left;
  font-weight: normal;
  word-wrap: normal;
  white-space: nowrap;
  position: relative;
}
.basket-commonstyles a.button.blue-large {
  background-position: left 0;
  height: 27px;
  margin-right: 13px;
}
.basket-commonstyles a.button.blue-large span {
  background-position: right -50px;
  color: #ffffff;
  margin-right: -13px;
  padding: 3px 13px 0px 13px;
  padding-top: 5px;
}
.basket-commonstyles a.button.blue-large input {
  background-position: right -50px;
  color: #ffffff;
  margin-right: -13px;
  padding: 3px 13px 0px 13px;
  padding-top: 5px;
}
.basket-commonstyles a.button.blue-large:hover { background-position: left -100px; }
.basket-commonstyles a.button.blue-large:hover span { background-position: right -150px; }
.basket-commonstyles a.button.blue-large:hover input { background-position: right -150px; }
.basket-commonstyles a.button.blue-large span h4 {
  color: #ffffff;
  padding: 2px 25px 0;
}
.basket-commonstyles a.button.white-large {
  background-position: left -800px;
  height: 27px;
  margin-right: 13px;
}
.basket-commonstyles a.button.white-large span {
  background-position: right -850px;
  color: #051d4b;
  font-size: 14px;
  font-weight: bold;
  margin-right: -13px;
  padding: 3px 13px 0px 13px;
  padding-top: 5px;
}
.basket-commonstyles a.button.white-large input {
  background-position: right -850px;
  color: #051d4b;
  font-size: 14px;
  font-weight: bold;
  margin-right: -13px;
  padding: 3px 13px 0px 13px;
  padding-top: 5px;
}
.basket-commonstyles a.button.white-large:hover { background-position: left -100px; }
.basket-commonstyles a.button.white-large:hover span {
  color: #ffffff;
  background-position: right -150px;
}
.basket-commonstyles a.button.white-large:hover input {
  color: #ffffff;
  background-position: right -150px;
}
.basket-commonstyles a.button.white-large span h4 {
  color: #ffffff;
  padding: 2px 25px 0;
}
.basket-commonstyles a.button.blue {
  background-position: left -200px;
  margin-right: 9px;
  height: 18px;
}
.basket-commonstyles a.button.blue span {
  background-position: right -250px;
  color: #ffffff;
  margin-right: -9px;
  padding: 2px 9px 0px;
}
.basket-commonstyles a.button.blue input {
  background-position: right -250px;
  color: #ffffff;
  margin-right: -9px;
  padding: 2px 9px 0px;
}
.basket-commonstyles a.button.blue:hover {
  background-position: left -300px;
  zoom: 1;
}
.basket-commonstyles a.button.blue:hover span { background-position: right -350px; }
.basket-commonstyles a.button.blue:hover input { background-position: right -350px; }
.basket-commonstyles a.button.blue span strong {
  font-size: 1em;
  font-weight: bold;
}
.basket-commonstyles a.button2 {
  background: url('/_layouts/Posten/Cart/1.5/Images/button-sprite.png') -2000px -2000px no-repeat;
  /*background: url('/Images/button-sprite.png') -2000px -2000px no-repeat;*/
  float: left;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
}
.basket-commonstyles a.button2 span {
  background: url('/_layouts/Posten/Cart/1.5/Images/button-sprite.png') -2000px -2000px no-repeat;
  /*background: url('/Images/button-sprite.png') -2000px -2000px no-repeat;*/
  float: left;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
}
.basket-commonstyles a.button2 input {
  background: url('/_layouts/Posten/Cart/1.5/Images/button-sprite.png') -2000px -2000px no-repeat;
  /*background: url('/Images/button-sprite.png') -2000px -2000px no-repeat;*/
  float: left;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
}
.basket-commonstyles a.button2 span {
  text-align: left;
  font-weight: normal;
}
.basket-commonstyles a.button2 input {
  text-align: left;
  font-weight: normal;
}
.basket-commonstyles a.button2.blue2 {
  background-position: left -200px;
  margin-right: 9px;
  height: 18px;
}
.basket-commonstyles a.button2.blue2 span {
  background-position: right -250px;
  color: #ffffff;
  margin-right: -9px;
  padding: 2px 9px 0px;
}
.basket-commonstyles a.button2.blue2 input {
  background-position: right -250px;
  color: #ffffff;
  margin-right: -9px;
  padding: 2px 9px 0px;
}
.basket-commonstyles a.button2.blue2:hover {
  background-position: left -300px;
  zoom: 1;
}
.basket-commonstyles a.button2.blue2:hover span { background-position: right -350px; }
.basket-commonstyles a.button2.blue2:hover input { background-position: right -350px; }
.basket-commonstyles a.button2.blue2 span strong {
  font-size: 1em;
  font-weight: bold;
}
.basket-commonstyles a.button.green {
  background: url('/_layouts/Posten/Cart/1.5/Images/button-sprite.png') no-repeat;
  /*background: url('/Images/button-sprite.png') no-repeat;*/
  background-position: left -500px;
  margin-right: 9px;
  height: 18px;
}
.basket-commonstyles a.button.green span {
  background-position: right -545px;
  color: #ffffff;
  margin-right: -9px;
  padding: 2px 9px 0px;
}
.basket-commonstyles a.button.green input {
  background-position: right -545px;
  color: #ffffff;
  margin-right: -9px;
  padding: 2px 9px 0px;
}
.basket-commonstyles a.button.green:hover { zoom: 1; }
.basket-commonstyles a.button.green span strong {
  font-size: 1em;
  font-weight: bold;
}
.basket-commonstyles a.button2Green {
  background: url('/_layouts/Posten/Cart/1.5/Images/button-sprite.png') no-repeat;
  /*background: url('/Images/button-sprite.png') no-repeat;*/
  background-position: left -500px;
  float: left;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
}
.basket-commonstyles a.button2Green span {
  background: url('/_layouts/Posten/Cart/1.5/Images/button-sprite.png') no-repeat;
  /*background: url('/Images/button-sprite.png') no-repeat;*/
  background-position: left -500px;
  float: left;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
}
.basket-commonstyles a.button2Green input {
  background: url('/_layouts/Posten/Cart/1.5/Images/button-sprite.png') no-repeat;
  /*background: url('/Images/button-sprite.png') no-repeat;*/
  background-position: left -500px;
  float: left;
  height: 100%;
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: visible;
  cursor: pointer;
}
.basket-commonstyles a.button2Green span {
  text-align: left;
  font-weight: normal;
}
.basket-commonstyles a.button2Green input {
  text-align: left;
  font-weight: normal;
}
.basket-commonstyles a.button2Green.green2 {
  background-position: left -500px;
  margin-right: 9px;
  height: 18px;
}
.basket-commonstyles a.button2Green.green2 span {
  background-position: right -545px;
  color: #ffffff;
  margin-right: -9px;
  padding: 2px 9px 0px;
}
.basket-commonstyles a.button2Green.green2 input {
  background-position: right -545px;
  color: #ffffff;
  margin-right: -9px;
  padding: 2px 9px 0px;
}
.basket-commonstyles a.button2Green.green2:hover { zoom: 1; }
.basket-commonstyles a.button2Green.green2 span strong {
  font-size: 1em;
  font-weight: bold;
}
.basket-commonstyles a.button.white {
  background-position: left -400px;
  margin-right: 9px;
  height: 18px;
}
.basket-commonstyles a.button.white span {
  background-position: right -450px;
  color: #031e50;
  margin-right: -9px;
  padding: 0px 9px 0px 9px;
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  zoom: 1;
}
.basket-commonstyles a.button.white input {
  background-position: right -450px;
  color: #031e50;
  margin-right: -9px;
  padding: 0px 9px 0px 9px;
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  zoom: 1;
}
.basket-commonstyles a.button.white:hover {
  background-position: left -400px;
  zoom: 1;
}
.basket-commonstyles a.button.white:hover span {
  background-position: right -450px;
  text-decoration: underline;
}
.basket-commonstyles a.button.white:hover input {
  background-position: right -450px;
  text-decoration: underline;
}
.basket-commonstyles a.button.yellow {
  background-position: left -800px;
  margin: 10px 9px 0;
  height: 18px;
  color: #031e50;
}
.basket-commonstyles a.button.yellow span {
  background-position: right -850px;
  color: #031e50;
  margin-right: -9px;
  padding: 2px 9px 0px 9px;
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  zoom: 1;
}
.basket-commonstyles a.button.yellow input {
  background-position: right -850px;
  color: #031e50;
  margin-right: -9px;
  padding: 2px 9px 0px 9px;
  font-size: 10px;
  font-weight: bold;
  line-height: 15px;
  zoom: 1;
}
.basket-commonstyles a.button.yellow:hover {
  background-position: left -800px;
  zoom: 1;
}
.basket-commonstyles a.button.yellow:hover span {
  background-position: right -850px;
  text-decoration: underline;
}
.basket-commonstyles a.button.yellow:hover input {
  background-position: right -850px;
  text-decoration: underline;
}
.basket-commonstyles a.button.dropdown {
  background-position: left -600px;
  margin-right: 25px;
  height: 25px;
  margin-top: 0px;
  text-decoration: none;
}
.basket-commonstyles a.button.dropdown span {
  background-position: right -650px;
  color: #031e50;
  margin-right: -25px;
  padding: 7px 25px 0px 13px;
}
.basket-commonstyles a.button.dropdown input {
  background-position: right -650px;
  color: #031e50;
  margin-right: -25px;
  padding: 7px 25px 0px 13px;
}
.basket-commonstyles a.button.dropdown:hover { background-position: left -700px; }
.basket-commonstyles a.button.dropdown:hover span { background-position: right -750px; }
.basket-commonstyles a.button.dropdown:hover input { background-position: right -750px; }
.basket-commonstyles a.button.prev-step {
  background-position: left -900px;
  height: 30px;
}
.basket-commonstyles a.button.next-step {
  background-position: left -900px;
  height: 30px;
}
.basket-commonstyles a.button.prev-step span {
  background-position: right -950px;
  font-size: 10px;
  line-height: 11px;
  padding: 3px 30px 2px 24px;
  color: #ffffff;
}
.basket-commonstyles a.button.next-step span {
  background-position: right -950px;
  font-size: 10px;
  line-height: 11px;
  padding: 3px 30px 2px 24px;
  color: #ffffff;
}
.basket-commonstyles a.button.prev-step { background-position: left -1000px; }
.basket-commonstyles a.button.prev-step span {
  background-position: right -1050px;
  padding: 3px 25px 2px 34px;
}
.basket-commonstyles a.button.prev-step-light {
  background-position: left -1100px;
  height: 30px;
}
.basket-commonstyles a.button.next-step-light {
  background-position: left -1100px;
  height: 30px;
}
.basket-commonstyles a.button.prev-step-light span {
  background-position: right -1150px;
  font-size: 10px;
  line-height: 11px;
  padding: 3px 30px 2px 24px;
  color: #ffffff;
}
.basket-commonstyles a.button.next-step-light span {
  background-position: right -1150px;
  font-size: 10px;
  line-height: 11px;
  padding: 3px 30px 2px 24px;
  color: #ffffff;
}
.basket-commonstyles a.button.prev-step-light { background-position: left -1200px; }
.basket-commonstyles a.button.prev-step-light span {
  background-position: right -1250px;
  padding: 3px 25px 2px 34px;
}
.basket-commonstyles a.button.prev-step span strong { display: block; }
.basket-commonstyles a.button.next-step span strong { display: block; }
.basket-commonstyles a.button.prev-step-light span strong { display: block; }
.basket-commonstyles a.button.next-step-light span strong { display: block; }
.basket-commonstyles a.button.prev-step:hover span { text-decoration: underline; }
.basket-commonstyles a.button.next-step:hover span { text-decoration: underline; }
.basket-commonstyles a.button.prev-step-light:hover span { text-decoration: underline; }
.basket-commonstyles a.button.next-step-light:hover span { text-decoration: underline; }
.basket-commonstyles a.button.color-select {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #cdddec;
  height: 15px;
  padding: 5px;
  position: absolute;
  right: 0;
  z-index: 2;
}
.basket-commonstyles a.button.color-select span { margin-left: 5px; }
.basket-commonstyles a.button.color-select span.swatch {
  border: 2px solid #cdddec;
  height: 15px;
  margin-left: 10px;
  margin-right: -2px;
  margin-top: -2px;
  width: 15px;
}
.basket-commonstyles a.button.black {
  background-position: left -1300px;
  margin-right: 9px;
  height: 18px;
}
.basket-commonstyles a.button.black span {
  background-position: right -1350px;
  color: #ffffff;
  margin-right: -9px;
  padding: 2px 9px 0px;
}
.basket-commonstyles a.button.black input {
  background-position: right -1350px;
  color: #ffffff;
  margin-right: -9px;
  padding: 2px 9px 0px;
}
.basket-commonstyles a.button.black:hover {
  background-position: left -300px;
  zoom: 1;
}
.basket-commonstyles a.button.black:hover span { background-position: right -350px; }
.basket-commonstyles a.button.black:hover input { background-position: right -350px; }
.basket-commonstyles a.button.black span strong {
  font-size: 1em;
  font-weight: bold;
}
.basket-commonstyles a.button.black.disabled span {
  color: #bbbbbb;
  cursor: default;
}
.basket-commonstyles a.button.black.disabled:hover {
  background-position: left -1300px;
  zoom: 0;
}
.basket-commonstyles a.button.black.disabled:hover span { background-position: right -1350px; }
.basket-commonstyles a.button.black.disabled:hover input { background-position: right -1350px; }
div.basket-modal {
  border: 1px solid #333333;
  display: none;
  width: 240px;
  height: 120px;
  background: #ffffff;
  margin: 12px auto;
  padding: 15px;
  text-align: left;
  position: relative;
  padding-bottom: 50px;
  -moz-box-shadow: 0px 0px 10px #b0b0b0;
  -webkit-box-shadow: 0px 0px 10px #b0b0b0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 0 50px #999999;
  -webkit-box-shadow: 0 0 50px #999999;
  box-shadow: 0px 0px 10px #b0b0b0;
}
div.basket-modal a span.exit {
  width: 37px;
  height: 37px;
  background: url('/_layouts/Posten/Cart/1.5/Images/icon-sprite.png') 0 -750px;
  /*background: url('/Images/icon-sprite.png') 0 -750px;*/
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 999;
}
div.basket-modal a:hover span.exit { background: url('/_layouts/Posten/Cart/1.5/Images/icon-sprite.png') 0 -800px; }
/*div.basket-modal a:hover span.exit { background: url('/Images/icon-sprite.png') 0 -800px; }*/
div.basket-modal h4 { margin-bottom: 20px; }
div.basket-modal a.button.blue-large {
  text-decoration: none;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
div.basket-modal a.button.white-large {
  text-decoration: none;
  position: absolute;
  right: 70px;
  bottom: 10px;
}
div.basket-modal a.button.white-large span { text-decoration: none; }
div.basket-modal a.button.white-large input { text-decoration: none; }
div.basket-modal a.button.blue-large span {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
div.basket-modal a.button.blue-large input {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.button-delete-aspnethidden { display: none; }
