.minibasket-commonstyles h1 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
.minibasket-commonstyles h2 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
.minibasket-commonstyles h3 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
.minibasket-commonstyles h1 {
  font-size: 19px;
  font-weight: normal;
  padding-bottom: 16px;
}
.minibasket-commonstyles h2 {
  background-color: #b1d7f7;
  font-size: 14px;
  margin-bottom: 3px;
  padding: 12px;
}
.minibasket-commonstyles h3 {
  background-color: #d8ebfb;
  font-size: 14px;
  padding: 12px;
}
.minibasket-commonstyles h4 {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 5px;
}
.minibasket-commonstyles .h4title {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 5px;
}
.minibasket-commonstyles p { padding-bottom: 5px; }
.minibasket-commonstyles a:active {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
.minibasket-commonstyles a:link {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
.minibasket-commonstyles a:visited {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
.minibasket-commonstyles a.arrow-right:active span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-commonstyles a.arrow-right:link span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-commonstyles a.arrow-right:visited span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-commonstyles a.arrow-down:active span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-commonstyles a.arrow-down:link span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-commonstyles a.arrow-down:visited span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-commonstyles span.arrow-right-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-commonstyles span.arrow-up-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-commonstyles span.arrow-down-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-commonstyles span.arrow-up-white {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-commonstyles span.arrow-right-white {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-commonstyles a.arrow-right:active span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-commonstyles a.arrow-right:link span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-commonstyles a.arrow-right:visited span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-commonstyles a.arrow-down:active span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-commonstyles a.arrow-down:link span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-commonstyles a.arrow-down:visited span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-commonstyles span.arrow-right-dark { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -7px 0 transparent; }
.minibasket-commonstyles span.arrow-up-dark { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -24px 0 transparent; }
.minibasket-commonstyles span.arrow-up-white { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll 0 0 transparent; }
.minibasket-commonstyles span.arrow-down-white { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -9px 0 transparent; }
.minibasket-commonstyles span.arrow-right-white { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -27px 0 transparent; }
/*
.minibasket-commonstyles a.arrow-right:active span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-commonstyles a.arrow-right:link span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-commonstyles a.arrow-right:visited span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-commonstyles a.arrow-down:active span { background: url('/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-commonstyles a.arrow-down:link span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-commonstyles a.arrow-down:visited span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-commonstyles span.arrow-right-dark { background: url('/Images/elements-sprite-2.png') no-repeat scroll -7px 0 transparent; }
.minibasket-commonstyles span.arrow-up-dark { background: url('/Images/elements-sprite-2.png') no-repeat scroll -24px 0 transparent; }
.minibasket-commonstyles span.arrow-up-white { background: url('/Images/elements-sprite-2.png') no-repeat scroll 0 0 transparent; }
.minibasket-commonstyles span.arrow-down-white { background: url('/Images/elements-sprite-2.png') no-repeat scroll -9px 0 transparent; }
.minibasket-commonstyles span.arrow-right-white { background: url('/Images/elements-sprite-2.png') no-repeat scroll -27px 0 transparent; }*/
.minibasket-commonstyles a:hover { color: #031e50; }

.minibasket-commonstyles a.arrow-right:hover span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
/*.minibasket-commonstyles a.arrow-right:hover span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }*/
.minibasket-container {
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite-2.png') repeat-x scroll 0 0 transparent;
  /*background: url('/Images/elements-borders-sprite-2.png') repeat-x scroll 0 0 transparent;*/
  bottom: 0;
  color: #ffffff;
  height: 38px;
  left: 0;
  position: fixed;
  width: 100%;
}
.minibasket-container h1 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
.minibasket-container h2 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
.minibasket-container h3 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
.minibasket-container h1 {
  font-size: 19px;
  font-weight: normal;
  padding-bottom: 16px;
}
.minibasket-container h2 {
  background-color: #b1d7f7;
  font-size: 14px;
  margin-bottom: 3px;
  padding: 12px;
}
.minibasket-container h3 {
  background-color: #d8ebfb;
  font-size: 14px;
  padding: 12px;
}
.minibasket-container h4 {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 5px;
}
.minibasket-container .h4title {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 5px;
}
.minibasket-container p { padding-bottom: 5px; }
.minibasket-container a:active {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
.minibasket-container a:link {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
.minibasket-container a:visited {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
.minibasket-container a.arrow-right:active span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-container a.arrow-right:link span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-container a.arrow-right:visited span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-container a.arrow-down:active span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-container a.arrow-down:link span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-container a.arrow-down:visited span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-container span.arrow-right-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-container span.arrow-up-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-container span.arrow-down-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-container span.arrow-up-white {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-container span.arrow-right-white {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
.minibasket-container a.arrow-right:active span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-container a.arrow-right:link span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-container a.arrow-right:visited span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-container a.arrow-down:active span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-container a.arrow-down:link span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-container a.arrow-down:visited span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-container span.arrow-right-dark { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -7px 0 transparent; }
.minibasket-container span.arrow-up-dark { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -24px 0 transparent; }
.minibasket-container span.arrow-up-white { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll 0 0 transparent; }
.minibasket-container span.arrow-down-white { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -9px 0 transparent; }
.minibasket-container span.arrow-right-white { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -27px 0 transparent; }
/*
.minibasket-container a.arrow-right:active span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-container a.arrow-right:link span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-container a.arrow-right:visited span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
.minibasket-container a.arrow-down:active span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-container a.arrow-down:link span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-container a.arrow-down:visited span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
.minibasket-container span.arrow-right-dark { background: url('/Images/elements-sprite-2.png') no-repeat scroll -7px 0 transparent; }
.minibasket-container span.arrow-up-dark { background: url('/Images/elements-sprite-2.png') no-repeat scroll -24px 0 transparent; }
.minibasket-container span.arrow-up-white { background: url('/Images/elements-sprite-2.png') no-repeat scroll 0 0 transparent; }
.minibasket-container span.arrow-down-white { background: url('/Images/elements-sprite-2.png') no-repeat scroll -9px 0 transparent; }
.minibasket-container span.arrow-right-white { background: url('/Images/elements-sprite-2.png') no-repeat scroll -27px 0 transparent; }
*/
.minibasket-container a:hover { color: #031e50; }
.minibasket-container a.arrow-right:hover span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
/*.minibasket-container a.arrow-right:hover span { background: url('/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }*/
.minibasket-container tbody {
  border-style: none;
  margin: 0;
  padding: 0;
}
.minibasket-container tr {
  border-style: none;
  margin: 0;
  padding: 0;
}
.minibasket-container td {
  border-style: none;
  margin: 0;
  padding: 0;
}
.minibasket-container div.border {
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite.png') no-repeat scroll 0 -163px transparent;
  /*background: url('/Images/elements-borders-sprite.png') no-repeat scroll 0 -163px transparent;*/
  height: 38px;
  width: 1px;
}
.minibasket-container div.border-left { float: left; }
.minibasket-container div.border-right { float: right; }
.minibasket-container table.minibasket-inner-container {
  border-collapse: collapse;
  margin: 0 auto;
  width: 782px;
  font-size:10px;
}
.minibasket-container table.minibasket-inner-container td.minibasket-spacer { width: 17px; }
.minibasket-container table.minibasket-inner-container div.minibasket-separator {
  background-color: #577532;
  border: 0px;
  border-left: 1px solid #91ac6e;
  float: left;
  height: 38px;
  width: 1px;
  clear: none;
}
.minibasket-container table.minibasket-inner-container a#expandLineItemTable {
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite-2.png') repeat-x scroll 0 -114px transparent;
  /*background: url('/Images/elements-borders-sprite-2.png') repeat-x scroll 0 -114px transparent;*/
  cursor: pointer;
  float: left;
  font-weight: bold;
  line-height: 38px;
  padding: 0 14px;
  width: 170px;
  color: #ffffff;
}
.minibasket-container table.minibasket-inner-container a#expandLineItemTable:link {
  /*background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite-2.png') repeat-x scroll 0 -114px transparent;*/
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite-2.png') repeat-x scroll 0 -114px transparent;
  cursor: pointer;
  float: left;
  font-weight: bold;
  line-height: 38px;
  padding: 0 14px;
  width: 170px;
  color: #ffffff;
}
.minibasket-container table.minibasket-inner-container a#expandLineItemTable:visited {
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite-2.png') repeat-x scroll 0 -114px transparent;
  cursor: pointer;
  float: left;
  font-weight: bold;
  line-height: 38px;
  padding: 0 14px;
  width: 170px;
  color: #ffffff;
}
.minibasket-container table.minibasket-inner-container a#expandLineItemTable:hover {
  /*background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite-2.png') repeat-x scroll 0 -76px transparent;*/
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite-2.png') repeat-x scroll 0 -76px transparent;
  color: #ffffff;
}
.minibasket-container table.minibasket-inner-container a#expandLineItemTable:active {
  /*background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite-2.png') repeat-x scroll 0 -38px transparent;*/
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite-2.png') repeat-x scroll 0 -38px transparent;
  color: #ffffff;
}
.minibasket-container table.minibasket-inner-container a#expandLineItemTable .arrow-right-white { margin-top: 15px; }
.minibasket-container table.minibasket-inner-container a#expandLineItemTable .arrow-up-white { margin-top: 15px; }
.minibasket-container table.minibasket-inner-container a#expandLineItemTable .minibasket-articles { font-weight: normal; }
.minibasket-container table.minibasket-inner-container .minibasket-buttons {
  float: right;
  padding-top: 11px;
}
.minibasket-container table.minibasket-inner-container span.payment-sum {
  line-height: 38px;
  float: right;
}
.minibasket-container table.minibasket-inner-container span.payment-amount {
  line-height: 38px;
  float: right;
}
.minibasket-container table.minibasket-inner-container span.payment-sum {
  font-weight: bold;
  padding-right: 5px;
}
.minibasket-container table.minibasket-inner-container span.payment-amount { padding-right: 10px; }
.basket-item-wrapper {
  border-collapse: collapse;
  bottom: 38px;
  left: 0;
  position: fixed;
  width: 100%;
  display: inline;
}
.basket-item-wrapper div.inner-wrapper {
  margin: 0 auto;
  width: 782px;
}
div.basket-item-container {
  bottom: 38px;
  width: 782px;
}
div.basket-item-container h1 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
div.basket-item-container h2 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
div.basket-item-container h3 {
  color: #031e50;
  font-weight: bold;
  margin: 0;
  padding: 0;
  word-spacing: -2px;
}
div.basket-item-container h1 {
  font-size: 19px;
  font-weight: normal;
  padding-bottom: 16px;
}
div.basket-item-container h2 {
  background-color: #b1d7f7;
  font-size: 14px;
  margin-bottom: 3px;
  padding: 12px;
}
div.basket-item-container h3 {
  background-color: #d8ebfb;
  font-size: 14px;
  padding: 12px;
}
div.basket-item-container h4 {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 5px;
}
div.basket-item-container .h4title {
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 5px;
}
div.basket-item-container p { padding-bottom: 5px; }
div.basket-item-container a:active {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
div.basket-item-container a:link {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
div.basket-item-container a:visited {
  color: #031e50;
  font-weight: bold;
  text-decoration: none;
}
div.basket-item-container a.arrow-right:active span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
div.basket-item-container a.arrow-right:link span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
div.basket-item-container a.arrow-right:visited span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
div.basket-item-container a.arrow-down:active span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
div.basket-item-container a.arrow-down:link span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
div.basket-item-container a.arrow-down:visited span {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
div.basket-item-container span.arrow-right-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
div.basket-item-container span.arrow-up-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
div.basket-item-container span.arrow-down-dark {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
div.basket-item-container span.arrow-up-white {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
div.basket-item-container span.arrow-right-white {
  display: block;
  float: left;
  font-size: 0;
  height: 9px;
  margin-right: 5px;
  margin-top: 2px;
  width: 9px;
}
div.basket-item-container a.arrow-right:active span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
div.basket-item-container a.arrow-right:link span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
div.basket-item-container a.arrow-right:visited span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
div.basket-item-container a.arrow-down:active span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
div.basket-item-container a.arrow-down:link span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
div.basket-item-container a.arrow-down:visited span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -45px 0 transparent; }
div.basket-item-container span.arrow-right-dark { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -7px 0 transparent; }
div.basket-item-container span.arrow-up-dark { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -24px 0 transparent; }
div.basket-item-container span.arrow-up-white { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll 0 0 transparent; }
div.basket-item-container span.arrow-down-white { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -9px 0 transparent; }
div.basket-item-container span.arrow-right-white { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -27px 0 transparent; }
div.basket-item-container a:hover { color: #031e50; }
div.basket-item-container a.arrow-right:hover span { background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite-2.png') no-repeat scroll -63px 0 transparent; }
div.basket-item-container h1 {
  margin: 0;
  padding: 0;
}
div.basket-item-container h2 {
  margin: 0;
  padding: 0;
}
div.basket-item-container h3 {
  margin: 0;
  padding: 0;
}
div.basket-item-container h4 {
  margin: 0;
  padding: 0;
}
div.basket-item-container h5 {
  margin: 0;
  padding: 0;
}
div.basket-item-container p {
  margin: 0;
  padding: 0;
}
div.basket-item-container table {
  margin: 0;
  padding: 0;
}
div.basket-item-container div.top-border {
  background: url('/_layouts/Posten/Cart/1.5/Images/cart-items-border.png') no-repeat scroll 0 0 transparent;
  height: 9px;
}
div.basket-item-container div.left-border {
  background: url('/_layouts/Posten/Cart/1.5/Images/cart-items-border.png') no-repeat scroll 0 -9px transparent;
  padding: 0 9px;
}
div.basket-item-container div.price-container {
  float: right;
  padding-left: 11px;
  width: 165px;
}
div.basket-item-container div.price-container div.h4title {
  padding-bottom: 5px;
  text-align: right;
  width: 115px;
}
div.basket-item-container div.price-container div.vat {
  padding-bottom: 5px;
  text-align: right;
  width: 115px;
}
div.basket-item-container div.price-container a.button-delete {
  display: block;
  float: right;
  margin-top: 10px;
}
div.basket-item-container div.price-container a.button-edit {
  display: block;
  float: right;
  margin-top: 10px;
}
div.basket-item-container div.price-container a.button-edit {
  margin-right: 10px;
  margin-top: 8px;
}
div.basket-item-container ul.cart-items {
  margin: 0;
  padding: 0;
}
div.basket-item-container ul.cart-items li {
  display: block;
  list-style: none;
}
div.basket-item-container ul.cart-items li.message { background-color: #ffffff; }
div.basket-item-container ul.cart-items li.product { border-bottom: 1px solid #e5e5e5; }
div.basket-item-container ul.cart-items li.product-last-item { border-bottom: 0; }
div.basket-item-container ul.cart-items li.product-with-details { border-bottom: 0; }
div.basket-item-container ul.cart-items li.product img {
  float: left;
  padding-right: 5px;
}
div.basket-item-container ul.cart-items li.product div.info {
  float: left;
  width: 474px;
}
div.basket-item-container ul.cart-items li.product div.info p.description { color: #5a6c8c; }
div.basket-item-container ul.cart-items li.product div.price-container { padding-top: 10px; }
div.basket-item-container ul.cart-items li.product div.product-details {
  background-color: #f2f9ff;
  display: none;
  margin-top: 20px;
  padding: 20px;
}
div.basket-item-container ul.cart-items li.product-option { padding: 0 2px 2px; }
div.basket-item-container ul.cart-items li.product-option div.container {
  background-color: #e5f3ff;
  padding: 7px 14px;
  vertical-align: middle;
}
div.basket-item-container ul.cart-items li.product-option div.container div.inner-container {
  float: left;
  margin-top: 7px;
}
div.basket-item-container ul.cart-items li.product-option div.container div.inner-container input { margin-right: 10px; }
div.basket-item-container ul.cart-items li.product-option div.container div.inner-container span.description { font-weight: normal; }
div.basket-item-container ul.cart-items li.product-option-first { padding-top: 2px; }
div.basket-item-container ul.cart-items li.details {
  background-color: #e6f3ff;
  border: 0;
  padding: 20px;
}
div.basket-item-container div.basket-item-container ul.cart-items li.product div.info { width: 520px; }
div.basket-item-container ul.cart-items-last { margin-bottom: 20px; }
div.basket-item-container ul.cart-items {
  max-height: 400px;
  overflow: auto;
}
div.basket-item-container ul.cart-items li {
  background-color: #ffffff;
  color: #031e50;
  padding: 10px;
}
div.basket-item-container ul.cart-items li h4 { font-size: 10px; }
div.basket-item-container ul.cart-items li .h4title { font-size: 10px; }
div.basket-item-container ul.cart-items li p.description { padding-bottom: 0; }
div.basket-item-container ul.cart-items li div.price-container a.button-edit { margin-top: 1px; }
div.basket-item-container ul.cart-items li div.price-container a.button-delete { margin-top: 3px; }

#minibasket_show,
.minibasket-articles,
.payment-amount,
.payment-sum,
#CheckoutButton span
{
    font-size: 10px;
    color: #FFFFFF;
}