<div class="module campaign headerCommon">
	<div class="content">
		<div class="header">Rubrik</div>
		
		<div class="body">
			<img src="content/banner_w4.png" alt="" />
		</div>
		
		<div class="footer"><a href="#" class="link">Länk</a></div>
	</div>
</div>