/***** Structure *****/
#Footer {
	margin-top: 10px;
}

#Footer .left {
	width: 10px;
	height: 224px;
	float: left;
	background: url('../images/spritemap_footer.png') left top repeat-x;	
}

#Footer .right {
	width: 10px;
	height: 224px;
	float: left;
	background: url('../images/spritemap_footer.png') right top repeat-x;	
}

#Footer .mid {
	float: left;
	width: 924px;
	background: url('../images/spritemap_footer.png') left bottom repeat-x;
}

#Footer .box {
	height: 204px;
}

#Footer .box + .box {
	background: url('../images/global_menu/v_divider_dropdown.png') left center no-repeat;
}

#Footer .box.padded {
	width: 156px;
	padding: 18px 9px 2px;
}

#Footer .caption, #Footer .caption a {
	clear: both;
	text-align: center;
	color: #c5bca8;
	font-size: 14px;
	padding-top: 7px;
}


/***** Content *****/
#Footer h3 {
	position: relative;
	margin: 5px 0px;
}

#Footer h3 span {
	color: #666;
	font-size: 18px;
	line-height: 18px;
}

#Footer .logo {
	position: static;
	margin-top: 10px;
}

#Footer li a {
	color: #999;
}


#Footer a.more {
	color: #666;
	font-weight: bold;
}

#Footer a:hover {
	color: #194b96;
}