<div class="module relatedProducts headerTheme">

	<div class="left">
		<div class="header">
			<span>Se också</span>
		</div>
		<ul>
			<li><a class="link common" href="#">Lorem Ipsum</a></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
			<li class="divider"></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
		</ul>
		<div class="img">
			<img src="content/related_products_img1.png" alt="" />
		</div>
	</div>
	
	<div class="center">
		<div class="header">
			<span>Produkter</span>
		</div>
		<ul>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
			<li class="divider"></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
		</ul>
		<div class="img">
			<img src="content/related_products_img2.png" alt="" />
		</div>
		<div class="gradient"></div>
	</div>
	
	<div class="right">
		<div class="header">
			<span>Kontakt</span>
		</div>
		<ul>
			<li>Vestibulum mauris mauris, varius sit amet tempus quis.</li>
			<li class="divider"></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
			<li><a class="link" href="#">Lorem Ipsum</a></li>
		</ul>
		<div class="img">
			<img src="content/related_products_img3.png" alt="" />
		</div>
	</div>
	
	<div class="footer">
		<div></div>
	</div>
</div>