
<div class="module checkout review headerPrimary">

	<Bekräftelse på beställning
	Detta meddelande är automatiskt och går inte att svara på. Ser detta mail konstigt ut? <a href="#">Klicka här</a>

	<div class="content">
		<div class="header"><span>Beställningsnummer: <strong class="theme">KD4SSFU7</strong></span></div>
		<div class="body">
			<table>
				<tbody>
					<tr>
						<th class="article">Varor</th>
						<th class="quantity">Antal</th>
						<th class="sum">Summa</th>
						<th class="delete"></th>
					</tr>
					<tr>
						<td>
							<span class="title">Nyckelpigor</span>
							<span class="articleID">Art. #1036801</span>
						</td>
						<td class="quantity"><input type="text" value="1" /></td>
						<td class="sum">600,50</td>
						<td><a href="#" class="deleteButton"></a></td>
					</tr>
					<tr>
						<td>
							<span class="title">Dubbelplastpåsar</span>
							<span class="info">Ekonomiporto</span>
							<span class="articleID">Art. #1036801</span>
						</td>
						<td class="quantity"><input type="text" value="1" /></td>
						<td class="sum">123.600,00</td>
						<td><a href="#" class="deleteButton"></a></td>
					</tr>
					<tr>
						<td>
							<span class="title">Kartonger</span>
							<span class="info">Ekonomiporto</span>
							<span class="articleID">Art. #1036801</span>
						</td>
						<td class="quantity"><input type="text" value="4" /></td>
						<td class="sum">470,00</td>
						<td><a href="#" class="deleteButton"></a></td>
					</tr>
					<tr>
						<th class="article">Abbonemang</th>
						<th class="quantity">Antal</th>
						<th class="sum">Summa</th>
						<th class="delete"></th>
					</tr>
						<td>
							<span class="title">Svenska frimärksh...</span>
							<span class="articleID">Art. #1036801</span>
						</td>
						<td class="quantity"><input type="text" value="1" /></td>
						<td class="sum">600,00</td>
						<td><a href="#" class="deleteButton"></a></td>
					</tr>
					<tr>
						<th class="article">Tjänster</th>
						<th class="quantity">Antal</th>
						<th class="sum">Summa</th>
						<th class="delete"></th>
					</tr>
					<tr>
						<td>
							<span class="title">eBrev Web</span>
							<span class="articleID">Art. #1036801</span>
						</td>
						<td class="quantity"><input type="text" value="1" /></td>
						<td class="sum">600,00</td>
						<td><a href="#" class="deleteButton"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>