<div class="box colspan-1-3">
	<div class="module checkout headerPrimary">
		<div class="content">
			<div class="header"><span>1. Fyll i dina kunduppgifter</span></div>
			<div class="body">
				<div>
					<div><label for="" >E-postadress: *</label></div>
					<div><input type="text" value="" /></div>
				</div>
				<div>
					<div><input type="radio" />Privatperson</div>
					<div><input type="radio" />Företag</div>
				</div>
				<div>
					<div><label for="" >Personnummer:</label></div>
					<div><input type="text" value="" /></div>
				</div>
				<div>
					<span class="info">Hämta uppgifter från folkbokföringsregistret.</span>
				</div>
				<div class="rightAlign">
					<a href="#" class="linkBtn">Hämta adress</a>
				</div>
				<div>
					<div><label for="" >Förnamn: *</label></div>
					<div><input type="text" value="" /></div>
				</div>
				<div>
					<div><label for="" >Efternamn: *</label></div>
					<div><input type="text" value="" /></div>
				</div>
				<div>
					<div><label for="" >Adress: *</label></div>
					<div><input type="text" value="" /></div>
				</div>
				<div>
					<div><label for="" >Postnummer: *</label></div>
					<div><input type="text" value="" /></div>
				</div>
				<div>
					<div><label for="" >Postort: *</label></div>
					<div><input type="text" value="" /></div>
				</div>
				<div>
					<div><label for="" >Land: *</label></div>
					<div><select><option>Sverige</option></select></div>
				</div>
				<div>
					<div><label for="" >Mobilnummer:</label></div>
					<div><input type="text" value="" /></div>
				</div>
				<div><span class="info">Mobilnummer behövs för SMS-avisering och ger även snabbare leverans.</span></div>
			</div>
			<div class="body">
				<div class=""><input type="checkbox" checked="checked" /><span>Leverera mina varor till en annan adress.</span></div>
				<div><input type="checkbox" checked="checked" /><span>Jag vill prenumera på Postens nyhetsbrev.</span></div>
			</div>
			<div class="footer">
				<div>
					<div><label for="" >Ange lösenord:</label></div>
					<div><input type="text" value="" /></div>
				</div>
				<div><span class="info">Om du sparar dina kunduppgifter blir det enklare att handla nästa gång.</span></div>
				<div class="rightAlign"><a href="#" class="linkBtn">Spara</a></div>
			</div>
		</div>
	</div>
</div>

<div class="box colspan-1-3">
	<div class="module checkout headerPrimary">
		<div class="content">
			<div class="header"><span>2. Välj betalsätt</span></div>
			<div class="body">
				<div class="border">
					<input type="radio" /> Kortbetalning (0 kr) <span class="visa"></span> <span class="mastercard"></span>
				</div>
				<div class="border">
					<input type="radio" /> Faktura (29 kr)
				</div>
				<div class="border">
					<input type="radio" /> Internetbank (0 kr)
				</div>
				<div>
					<strong>Betalsätt och leverans</strong> <a href="#" class="helpButton"></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="box colspan-1-3">
	<div class="module checkout review headerPrimary">
		<div class="content">
			<div class="header"><span>3. Granska din kundvagn</span></div>
			<div class="body">
				<table>
					<tbody>
						<tr>
							<th class="article">Varor</th>
							<th class="quantity">Antal</th>
							<th class="sum">Summa</th>
							<th class="delete"></th>
						</tr>
						<tr>
							<td>
								<span class="title">Nyckelpigor</span>
								<span class="articleID">Art. #1036801</span>
							</td>
							<td class="quantity"><input type="text" value="1" /></td>
							<td class="sum">600,50</td>
							<td><a href="#" class="deleteButton"></a></td>
						</tr>
						<tr>
							<td>
								<span class="title">Dubbelplastpåsar</span>
								<span class="info">Ekonomiporto</span>
								<span class="articleID">Art. #1036801</span>
							</td>
							<td class="quantity"><input type="text" value="1" /></td>
							<td class="sum">123.600,00</td>
							<td><a href="#" class="deleteButton"></a></td>
						</tr>
						<tr>
							<td>
								<span class="title">Kartonger</span>
								<span class="info">Ekonomiporto</span>
								<span class="articleID">Art. #1036801</span>
							</td>
							<td class="quantity"><input type="text" value="4" /></td>
							<td class="sum">470,00</td>
							<td><a href="#" class="deleteButton"></a></td>
						</tr>
						<tr>
							<th class="article">Abbonemang</th>
							<th class="quantity">Antal</th>
							<th class="sum">Summa</th>
							<th class="delete"></th>
						</tr>
							<td>
								<span class="title">Svenska frimärksh...</span>
								<span class="articleID">Art. #1036801</span>
							</td>
							<td class="quantity"><input type="text" value="1" /></td>
							<td class="sum">600,00</td>
							<td><a href="#" class="deleteButton"></a></td>
						</tr>
						<tr>
							<th class="article">Tjänster</th>
							<th class="quantity">Antal</th>
							<th class="sum">Summa</th>
							<th class="delete"></th>
						</tr>
						<tr>
							<td>
								<span class="title">eBrev Web</span>
								<span class="articleID">Art. #1036801</span>
							</td>
							<td class="quantity"><input type="text" value="1" /></td>
							<td class="sum">600,00</td>
							<td><a href="#" class="deleteButton"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="indent"><span></span></div>
	</div>
	
	<div class="module checkout headerPrimary">
		<div class="content">
			<div class="header">Att betala</div>
			<div class="body">
				<div class="campaignCode">
					<strong>Ev. kampanjkod:</strong> <input type="text" value="" /> <a href="#" class="helpButton"></a>
				</div>
				<div class="freight">
					<strong>Frakt:</strong>
					<span class="cost">29 kr</span>
					<span class="deficit">xx kr kvar till <a href="#">fraktfritt</a></span>
				</div>
				<div class="discount">
					<strong>Du sparar:</strong>
					<span class="amount">500kr</span>
				</div>
				<div class="total">
					<strong>Totalt pris inkl. moms:</strong>
					<span class="withVAT theme">1.350,00 kr</span>
					<span class="withoutVAT">Pris ex moms 1.030,00 kr</span>
				</div>
			</div>
			<div class="footer">
				<div>
					<input type="checkbox" name="" value="" /> Jag godkänner postens <a href="#">köpvillkor</a>
				</div>
				<div>
					<button class="proceed">Fortsätt till betalning</button>
				</div>
			</div>
		</div>
	</div>
</div>