<div class="module webshopConfirmation headerPrimary footerSolid">
	<h3 class="theme">Bekräftelse</h3>
	
	<div class="highlight">
		<div class="p1">Tack för din beställning!</div>
		<div class="p2">Ditt beställningsnummer är: <span class="theme">KD4SSFU7</span></div>
		<div class="p3">En bekräftelse på din beställning har skickats till din e-postadress, <a href="#">ladda ner kvitto</a> för utskrift.</div>
	</div>
	
	<div class="content">
		<div class="header">
			<span>Din beställning</span>
			<div class="control">
				<a href="#" class="minimize">Dölj<span></span></a>
				<a href="#" class="maximize">Visa<span></span></a>
			</div>
		</div>
		<div class="body">
				<table class="divider">
					<tbody>
						<tr>
							<th colspan="2" class="article">Varor</th>
							<th class="quantity">Antal</th>
							<th class="price">Pris/st</th>
							<th class="sum">Summa</th>
						</tr>
						<tr>
							<td class="image"><img src="content/basket_1.png" alt="Bild" /></td>
							<td>
								<span class="title"><a href="#" class="link">Nyckelpigor</a></span>
								<span class="articleID">Art. #1036801</span>
								<span class="zone">Inrikes</span>
							</td>
							<td class="quantity">1</td>
							<td class="price">600,50</td>
							<td class="sum">1201,00</td>
						</tr>
						<tr>
							<td class="image"><img src="content/basket_1.png" alt="Bild" /></td>
							<td>
								<span class="title"><a href="#" class="link">Nyckelpigor</a></span>
								<span class="articleID">Art. #1036801</span>
								<span class="zone">Inrikes</span>
							</td>
							<td class="quantity">1</td>
							<td class="price">600,50</td>
							<td class="sum">1201,00</td>
						</tr>
						<tr>
							<th colspan="2" class="article">Tjänster</th>
							<th class="quantity">Antal</th>
							<th class="price">Pris/st</th>
							<th class="sum">Summa</th>
						</tr>
						<tr>
							<td class="image"><img src="content/basket_1.png" alt="Bild" /></td>
							<td>
								<span class="title"><a href="#" class="link">Nyckelpigor</a></span>
								<span class="articleID">Art. #1036801</span>
							</td>
							<td class="quantity">1</td>
							<td class="price">600,50</td>
							<td class="sum">1201,00</td>
						</tr>
						<tr class="specs">
							<td colspan="5">
								<div>
									<div><strong>Tjänst:</strong> 1:a-klass brev</div>
									<div><strong>Färg:</strong> Färgtryck</div>
									<div><strong>Á pris:</strong> 5,50 kr.</div>
									<div><strong>Antal:</strong> 3 st.</div>
									<div><strong>Dokument:</strong> <a href="#" class="theme">PDF</a></div>
									<div><strong>Antal sidor:</strong> 4</div>
									<div><strong>Tillval:</strong> Inbetalningskort</div>
									<div><strong>Mottagarregister:</strong> <a href="#">Adressfil</a></div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
		</div>
		<div class="body summary">
			<div class="buttons">
				<span><button>Skriv ut frakthandling</button></span>
				<span><button>Skriv ut kvitto</button></span>
			</div>
			<div class="descriptions">
				<span>Summa:</span>
				<span>Summa exkl. moms:</span>
				<span>Moms:</span>
				<span>Frakt/fraktfritt:</span>
			</div>
			<div class="values">
				<span><strong>41.000,00 kr</strong></span>
				<span>xxx,xx kr</span>
				<span>xxx,xx kr</span>
				<span>0,00 kr</span>
			</div>
		</div>
		<div class="footer">
			<span>Att betala:</span>
			<span class="theme">41.000,00 kr</span>
		</div>
	</div>
</div>

<div class="module webshopConfirmation headerPrimary footerSolid">
	<div class="content">
		<div class="header">
			<span>Ditt nästa steg</span>
			<div class="control">
				<a href="#" class="minimize">Dölj<span></span></a>
				<a href="#" class="maximize">Visa<span></span></a>
			</div>
		</div>
		<div class="body" style="height: 200px;"></div>
	</div>
</div>

<div class="module webshopConfirmation headerPrimary footerSolid">
	<div class="content">
		<div class="header">
			<span>Köpinformation</span>
			<div class="control">
				<a href="#" class="minimize">Dölj<span></span></a>
				<a href="#" class="maximize">Visa<span></span></a>
			</div>
		</div>
		<div class="body">
			<table>
				<tr class="theme headline">
					<td>Betalningsdatum</td>
					<td>Onsdag 1a april 2011 kl. 10:04</td>
				</tr>
				<tr class="divider">
					<td><strong>Användarnamn:</strong></td>
					<td>Anders Andersson (orgnr. 515921663)</td>
				</tr>
				<tr>
					<td><strong>Leveransadress:</strong></td>
					<td>
						Ander Andersson<br />
						Gatuvägen 1<br />
						123 45 Strandby<br />
						Sverige
					</td>
				</tr>
				<tr>
					<td><strong>E-postadress:</strong></td>
					<td>anders.andersson@tele2.se</td>
				</tr>
				<tr>
					<td><strong>Telefonnummer:</strong></td>
					<td>046-123456</td>
				</tr>
				<tr>
					<td><strong>Mobilnr. för SMS avi:</strong></td>
					<td>0707-123456</td>
				</tr>
				<tr class="divider">
					<td><strong>Betalsätt:</strong></td>
					<td>Faktura (Betalningsvillkor xx dagar)</td>
				</tr>
				<tr>
					<td><strong>Leveranssätt:</strong></td>
					<td>Fri frakt (x vardagar tillkommer i frakttid)</td>
				</tr>
				<tr class="divider">
					<td colspan="2"><strong>Ångerrätt:</strong></td>
				</tr>
				<tr>
					<td colspan="2">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Etiam adipiscing nibh a tortor egestas fringilla. Vivamus ut dui id nisl vulputate semper id vitae tellus.
						Ut eu dui eros, eu rhoncus neque. Vestibulum eu dignissim massa. Vestibulum urna metus, varius non mattis blandit, tempor a velit.
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="ext">
		<div><strong>Vid övriga frågor</strong></div>
		Besök <a href="#">www.posten.se/kundtjanst</a> och fyll i kontaktformuläret så återkommer vi så snart vi kan.<br />
		Du hittar de vanligaste frågorna och svaren på <a href="#">www.posten.se/fragor</a>.
	</div>
</div>