/*******************************************************************************************************************
****************************************************************************************** Development Only *******/

/***** Start Page *****/
#Header ~ #Body {
	margin-top: 18px;
}

/***** Landing Page *****/
#MainMenu ~ #Body {
	margin-top: 45px;
}

/*******************************************************************************************************************
****************************************************************************************** General Selectors ******/

* {
	font-family: Calibri Lite, Arial, Sans-Serif;
}

body {
	margin: 0;
	background-color: #f6f3ed;
}

.bodyBackground {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 452px;
	width: 100%;
	z-index: -1;
	background: url('../images/background.png') 0px 0px repeat-x;
}

.bodyBackground {
	background: url('../images/background.png') 0px -453px repeat-x;
}

h1 {
	position: absolute;
	left: -9999px;
}

h3, h3.headline {
	font-size: 25px;
	font-weight: normal;
	margin: 0px;
}

h4, h4.headline {
	font-size: 18px;
	margin: 0px;
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

img {
	border: none;
}

@font-face {
	font-family: 'Calibri Lite';
	src: url('../fonts/calibri_lite.eot'); /* IE */
	src: local('Calibri Lite'), url( '../fonts/calibri_lite.ttf' ) format('truetype'); /* non-IE */ 
}

@font-face {
	font-family: 'Calibri Lite';
	font-weight: bold;
	src: url('../fonts/calibri_lite_bold.eot'); /* IE */
	src: local('Calibri Lite'), url( '../fonts/calibri_lite_bold.ttf' ) format('truetype'); /* non-IE */ 
}

.headline {
	display: block;
	font-weight: bold;
	font-size: 16px;
	color: #194b96;
}

.iframe {
	position: relative;
	border: 1px solid #dbd4c5;
	padding: 10px 2px 10px 14px;
}

object {
	width: 100%;
	height: 100%;
	display: block;
	border: none;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: -1;
}

.article .quote {
	font-style: italic;
	font-weight: bold;
	float: right;
	font-size: 18px;
	width: 300px;
	margin: 10px 0 10px 20px;
	position: relative;
}

.article .quote span {
	
}

.article .quote .footer {
	font-style: normal;
	height: 20px;
	margin-top: 5px;
	border-top: 2px solid #dbd4c5;
}

.article p {
	overflow: hidden;
}

.article .headline {
	font-size: 18px;
}

.article .quote .headline {
	font-size: 16px;
}

.article .toolbar {
	vertical-align: middle;
	text-align: right;
	height: 27px;
	padding-top: 7px;
	border-top: 2px solid #dbd4c5;
	border-bottom: 1px solid #dbd4c5;
}

.article .toolbar a {
	display: inline-block;
	color: #ccc;
	margin-left: 15px;
}

.article .toolbar a span {
	display: inline-block;
	margin-right: 3px;
	height: 14px;
	width: 16px;
	background: url('../images/spritemap_common.png');
}

.article .toolbar a.send span {
	background-position: 0px -129px;
}

.article .toolbar a.print span {
	background-position: -17px -129px;
}

.article .toolbar a.facebook span {
	background-position: -34px -129px;
}

blockquote {
	padding: 10px 0;
	font-size: 1.2em;
	font-style: italic;
}

pcg {
	background: url('../images/localization_se.png') 0px -189px;
}

.headline.link {
	display: inline-block;	
}

/*******************************************************************************************************************
****************************************************************************************** Header *****************/

.header {
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    position: relative;
}

.header.theme {
    color: #fff;
}

.header.common {
    color: #333;
	background: url("../images/spritemap_common_vertical.png") repeat scroll 0 0px ;
}

.header span {
	position: absolute;
    bottom: 7px;
	left: 14px;
}

.header .control {
	position: absolute;
    bottom: 5px;
	right: 14px;
	font-weight: normal;
	background: none;
}

#MainMenu .header {
	background: none;
}

/*******************************************************************************************************************
****************************************************************************************** Links ******************/

#Frame a, #Frame a * {
	text-decoration: none;
/*	color: #333;/*
}

#Frame a.link {
	padding-right: 8px;
	zoom: 1;
	color: #333;
/*	background: url('../images/link_arrow_gray.png') right center no-repeat;*/
}
 
.headline a {
	color: #fff;
}

a.print span {
	display: inline-block;
	width: 16px;
	height: 12px;
	background: url('../images/print.png') top no-repeat;
}

a.print:hover span {
	background-position: bottom;
}

a.external span {
	display: inline-block;
	margin-left: 2px;
	height: 11px;
	width: 12px;
	vertical-align: baseline;
	background: url('../images/spritemap_common.png') -14px -62px no-repeat;
}

a.external:hover span {
	background: url('../images/spritemap_localization_dk.png') -0px -61px no-repeat;
}

/*******************************************************************************************************************
****************************************************************************************** Common Gradients *******/

.primaryGradient {
	background: url("../images/spritemap_common_vertical.png") 0px 0px repeat-x transparent;
}

.secondaryGradient {
	background: url("../images/spritemap_common_vertical.png") 0px -44px repeat-x transparent;
}

/*******************************************************************************************************************
****************************************************************************************** Form Fields ************/

/*
span.textField {
	height: 24px;
	padding-left: 4px;
	display: inline-block;
	background: url('../images/framework/text_field.png') left top no-repeat;
}

span.textField input[type='text'] {
	height: 24px;
	padding: 0px;
	border: none;
	background: url('../images/framework/text_field.png') left bottom repeat-x;
}
*/

/*******************************************************************************************************************
****************************************************************************************** Buttons ****************/

input[type='image'].search {
	background-position:  -97px 0px;
}

a.button {
	display: inline-block;
}

a.button * {
	display: block;
	width: 24px;
	height: 24px;
}

a.button.arrowLeft * {
	background-position: -122px 0px;
}

a.button.arrowLeft:hover * {
	background-position: -122px -25px;
}

a.button.arrowRight * {
	background-position: -147px 0px;
}

a.button.arrowRight:hover * {
	background-position: -147px -25px;
}

/*******************************************************************************************************************
****************************************************************************************** File Icons *************/

.file {
	font-size: 0.9em;
	display: block;
/*	min-height: 24px;*/
}

.file.pdf {
	background: url('../images/icons/pdf.png') left center no-repeat;
	padding-left: 35px;
}

.file.xls {
	background: url('../images/icons/xls.png') left center no-repeat;
	padding-left: 35px;
}
.file span.size {
	display: block;
	color: #b3ac92;
	font-size: 12px;
}
.file span.text {
	display: block;
	color: #5b92e6;
	font-weight: bold;
	font-family: Calibri;
	font-size: 14px;
	text-decoration: underline;
}


/*******************************************************************************************************************
****************************************************************************************** Boxes ******************/

.box {
	margin-left: 10px;
	float: left;
	width: 176px;
	min-height: 20px;
}

.box.colspan-2 {
	width: 362px;
}

.box.colspan-3 {
	width: 548px;
}

.box.colspan-4 {
	width: 734px;
}

.box.colspan-5 {
	width: 922px;
	clear: both;
}
/*
.box .box:first-child {
	margin-left: 0px;
}
*/

.box.colspan-2 > .box.colspan-2,
.box.colspan-3 > .box.colspan-3,
.box.colspan-4 > .box.colspan-4 {
	float: none;
	clear: left;
	margin-left: 0px;
}

.box > .box + .box {
	margin-left: 10px;
}

.box > .box {
	margin-left: 0px;
}

.box > .box + .box {
	margin-left: 10px;
}

.module {
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
}

#CenterConsoleMenu, #CenterConsoleMenu * {
	z-index: 10;
}

/*******************************************************************************************************************
****************************************************************************************** TreeView ***************/

.treeView {
	margin-top: 15px;
	overflow: hidden;
}

.treeView > .headline {
	padding-bottom: 5px !important;
	border: none !important;
}

.treeView > .subtitle {
	color: #333;
	font-size: 18px;
	font-style: italic;
	padding-bottom: 10px;
}

.treeView > .column {
	width: 190px;
	margin-right: 54px;
	float: left;
	margin-bottom: 40px; 
}

.treeView div.headline {
	font-size: 18px;
	font-weight: bold;
	border-bottom: 2px solid #dbd4c5;
	padding-bottom: 10px;
}

.treeView li {
	margin: 7px 0 7px 10px;
}

.treeView > ul > li {
	margin-left: 0px;
}

.treeView a.node + ul {
	display: none;
}

.treeView > ul > li.expanded > ul {
	margin-top: 7px;
	border-top: 2px solid #dbd4c5;
	border-bottom: 2px solid #dbd4c5;
}

.treeView li.expanded > ul {
	display: block;
}

.treeView > ul {
	border-top: 2px solid #dbd4c5;

}

.treeView > ul > li > a {
	font-weight: bold;
}

.treeView a {
	color: #333;
}

/********** Links & Arrows **********/

span.arrow {
	display: inline-block;
	position: static;
	margin-left: 3px;
	vertical-align: baseline;
}

div.arrow {
	position: absolute;
	top: 50%;
	right: 0px;
}

.arrow.primary,
a.link > .arrow,
.arrow.secondary {
	background: url('../images/spritemap_common.png') no-repeat;
}

/* flyttas till dk.css */
/*
.gradient.themed .arrow,
a.link.themed > .arrow,
a.link:hover > .arrow,
#FAQ .question:hover .arrow,
.treeView a:hover .arrow,
.treeView li.expanded .arrow,
.arrow.themed {
	background-image: url('../images/spritemap_localization_se.png');
}*/

a.link > .arrow,
.arrow.small {
	width: 7px;
	height: 7px;
	display: inline-block;
}

.slide .arrow,
.switch .arrow,
.header .arrow,
.arrow.medium {
	width: 9px;
	height: 9px;	
}

.arrow.large {
	width: 13px;
	height: 13px;	
}


a.link {
	font-weight: bold;	
}

.module .footer a.link {
	padding-right: 8px;
	background-position: right -76px;
	background-repeat: no-repeat;
}

/***** Primary *****/


div.arrow.small {
	margin-top: -2px;
}
div.arrow.medium {
	margin-top: -3px;
}
div.arrow.large {
	margin-top: -6px;
}

.arrow.primary.small.up		{ background-position: -0px -0px; }
a.link > .arrow,
.arrow.primary.small.right	{ background-position: -253px -52px; }
.arrow.primary.small.down	{ background-position: -0px -0px; }
.arrow.primary.small.left	{ background-position: -0px -0px; }

/*#FAQ .active .question .arrow,*/
.arrow.primary.medium.up	{ background-position: -238px -65px; }
.arrow.primary.medium.right	{ background-position: -389px -188px; }
.arrow.primary.medium.down	{ background-position: -425px -188px; }
.arrow.primary.medium.left	{ background-position: -463px -188px; }


/*#CenterConsoleMenu li.more.active .arrow,*/
.arrow.primary.large.up		{ background-position: -236px -77px; }
.arrow.primary.large.right	{ background-position: -250px -0px; }
.arrow.primary.large.down	{ background-position: -264px -77px; }
.arrow.primary.large.left	{ background-position: -278px -0px; }

/***** Secondary *****/
.arrow.secondary.small.up		{ background-position: -236px -0px; }
.arrow.secondary.small.right	{ background-position: -250px -0px; }
.arrow.secondary.small.down		{ background-position: -264px -0px; }
.arrow.secondary.small.left		{ background-position: -278px -0px; }

.arrow.secondary.medium.up		{ background-position: -294px -0px; }
.arrow.secondary.medium.right	{ background-position: -308px -65px; }
/*#QuickFinder .headline.active .arrow,*/
.arrow.secondary.medium.down	{ background-position: -322px -65px; }
.arrow.secondary.medium.left	{ background-position: -278px -0px; }

/*#CenterConsoleMenu li.more.active:hover .arrow,*/
.arrow.secondary.large.up		{ background-position: -292px -77px; }
.arrow.secondary.large.right	{ background-position: -306px -0px; }
/*#CenterConsoleMenu li.more:hover .arrow,*/
.arrow.secondary.large.down		{ background-position: -320px -77px; }
.arrow.secondary.large.left		{ background-position: -334px -0px; }

/***** Themed *****/
a.link:hover > .arrow,
a.link.theme > .arrow,
.arrow.themed.small.right	{ background-position: -235px -3px; } /* themed link arrow */

/* common link arrow -253px -52px;*/

/*
.relatedContent .control.active span,
.relatedContent a.control.active:hover span,*/
/*#FAQ .active .question:hover .arrow,*/
.arrow.theme.medium.up		{ background-position: -515px -2px; }
/*.treeView .arrow,*/
.arrow.theme.medium.right	{ background-position: -234px -16px; }
/*.treeView .expanded .arrow,
#FAQ .question:hover .arrow,*/

/*.relatedContent a.control:hover span,*/
.arrow.themed.medium.down	{ background-position: -248px -16px; }
.arrow.themed.medium.left	{ background-position: -1px -1px; }


.arrow.themed.large.up		{ background-position: -0px -0px; }
.arrow.themed.large.right	{ background-position: -0px -0px; }
.arrow.themed.large.down	{ background-position: -0px -0px; }
.arrow.themed.large.left	{ background-position: -0px -0px; }




.slide .arrow.large.primary-secondary {
	background-position: -264px -77px;
	background-image: url('../images/spritemap_common.png');
}
.slide:hover .arrow.large.primary-secondary {			background-position: -320px -77px; }
.slide.active .arrow.large.primary-secondary {			background-position: -236px -77px; }
.slide.active:hover .arrow.large.primary-secondary {	background-position: -292px -77px; }



.switch .arrow.secondary-secondary {
	background-position: -308px -65px;
	background-image: url('../images/spritemap_common.png');
}
.switch:hover .arrow.secondary-secondary {				background-position: -308px -65px; }
.active .switch .arrow.secondary-secondary {			background-position: -322px -65px; }
.active .switch:hover .arrow.secondary-secondary {		background-position: -322px -65px; }



.switch .arrow.null-theme { 			background: none; }
.switch:hover .null-theme {				background-position: -234px -16px;
										background-image: url('../images/spritemap_localization_dk.png'); }
.active .switch .arrow.null-theme {		background-position: -248px -16px;
										background-image: url('../images/spritemap_localization_dk.png'); }
.active .switch:hover .null-theme {		background-position: -248px -16px; }



.treeView li a span {
	width: 9px;
	height: 9px;
	display: inline-block;
	margin-right: 3px;
}
/*
.treeView li.node a:hover span {
	background: url('../images/arrows.png') -126px -26px no-repeat;
}

.treeView li.node.expanded a span {
	background: url('../images/arrows.png') -154px -26px no-repeat;
}*/


/********** Design **********/
.treeView > ul > li.tree,
.treeView > .column > ul > li.tree {
	border-top: 2px solid #dbd4c5;
	border-bottom: 2px solid #dbd4c5;
}




/*******************************************************************************************************************
****************************************************************************************** Edges & Corners ********/

/************************************************************** Standard Edge */

.edge {
	width: 100%;
	height: 6px;
	z-index: 10;
	position: absolute;
	left: 0px;
}
.edge > * {
	height: 6px;
	width: 6px;
	z-index: 10;
	position: absolute;
	background: url('../images/spritemap_common.png') no-repeat;
}

.edge.top {
	top: 0px;
}
.edge.top.border {
	background: url('../images/corner_sprite.png') 0px -53px repeat-x;
}
.edge.bottom {
	bottom: 0px;
}
.edge.bottom.border {
	background: url('../images/spritemap_common.png') no-repeat -13px -55px;
}
.edge.top .left {
	left: 0px;
	background-position: 0px -49px;
}
.edge.top .right {
	right: 0px;
	background-position: -6px -49px;
}
.edge.bottom .left {
	left: 0px;
	background-position: 0px -55px;
}
.edge.bottom .right {
	right: 0px;
	background-position: -6px -55px;
}

/************************************************************** Border Edges */
/*
.edge.top.border {
	background: url('../images/corner_sprite.bak.png') 0px -43px repeat-x;
}
.edge.bottom.border {
	background: url('../images/corner_sprite.bak.png') 0px -48px repeat-x;
}*/

.edge.top .border.left {
	background-position: -13px -49px;
}
.edge.top .border.right {
	background-position: -19px -49px;
}
.edge.bottom .border.right {
	background-position: -19px -55px;
}
.edge.bottom .border.left {
	background-position: -13px -55px;
}

/************************************************************** Outer/Border-based Edge */

.edge.outer.top {
	top: -1px;
}

.edge.outer.bottom {
	bottom: -1px;
}

.edge.outer .left {
	left: -1px !important;
}

.edge.outer .right {
	right: -1px !important;
}


/************************************************************** Body Edge */

#Body > .edge, #Footer > .edge {
	height: 10px;
}

#Body > .edge .left, #Footer > .edge .left {
	top: 0px;
	width: 10px;
	height: 10px;
	background: url('../images/framework/corner_sprite.png') 0px -11px repeat-x;
}
#Body > .edge .center, #Footer > .edge .center {
	left: 10px;
	width: 924px;
	height: 10px;
	background: url('../images/framework/corner_sprite.png') 0px -32px repeat-x;
}
#Body > .edge .right, #Footer > .edge .right {
	top: 0px;
	width: 10px;
	height: 10px;
	background: url('../images/framework/corner_sprite.png') -10px -11px repeat-x;
}

#Body > .edge.top, #Footer > .edge.top {
	top: 0px;
	background: none;
}
#Body > .edge.top .left, #Footer > .edge.top .left {
	background-position: 0px -11px;
}
#Body > .edge.top .center, #Footer > .edge.top .center {
	top: 0px;
	background-position: 0px -32px;
}
#Body > .edge.top .right, #Footer > .edge.top .right {
	background-position: -10px -11px;
}

#Body > .edge.bottom, #Footer > .edge.bottom {
	bottom: 0px;
	background: none;
}
#Body > .edge.bottom .left, #Footer > .edge.bottom .left {
	background-position: 0px -21px;
}
#Body > .edge.bottom .center, #Footer > .edge.bottom .center {
	bottom: 0px;
	background-position: 0px -42px;
}
#Body > .edge.bottom .right, #Footer > .edge.bottom .right {
	background-position: -10px -21px;
}
















/************************************************ Ny generell module-kod från 11-05-16+ ************************************************/

.module .head {
	height: 44px;
	position: relative;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 0 14px;
	border: solid 1px #dbd4c5;
	border-bottom: none;
	border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;

	background: url('../images/localization_se.png') 0px -106px repeat-x;
}


.module .header.theme {
	border: none;
}

.module .footer {
	height: 30px;
	padding: 5px 14px;
	line-height: 30px;
	text-align: right;
	border: solid 1px #dbd4c5;
	border-top: none;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
}

.module .footer.primary {
	background: url("../images/spritemap_common_vertical.png") repeat-x scroll 0px 0px transparent
}